<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.remote.modules.faultlog.dao.FaultlogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.remote.modules.faultlog.entity.FaultlogEntity" id="BaseResultMap">
        <result property="faultLogId" column="fault_log_id"/>
        <result property="createUserId" column="create_user"/>
        <result property="faultLogName" column="fault_log_name"/>
        <result property="projectId" column="project_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="logStatus" column="log_status"/>
        <result property="faultLogDesc" column="fault_log_desc"/>
        <result property="createTime" column="create_time"/>
        <result property="groupId" column="group_id"/>
    </resultMap>

    <sql id="Base_Column_List" >
    fault_log_id,create_user,fault_log_name,project_id,device_id,log_status,fault_log_desc,create_time,group_id
    </sql>

    <select id="queryFaultlogByDeviceId" resultMap="BaseResultMap" >
        SELECT
        fault_log_desc,create_time,device_id,group_id
        FROM
        fun_fault_log
        <where>
            <if test="deviceId != null">
                device_id = #{deviceId},
            </if>
            <if test="logStatus != null">
                log_status = #{logStatus},
            </if>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>