<!DOCTYPE html>
<html>
<head>
    <title>设备管理</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/css.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/jquery_page.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="${request.contextPath}/statics/js/modules/project/jquery_page.js"></script>
</head>
<body>
3434343



<script src="${request.contextPath}/statics/js/modules/equipment/equipment.js"></script>
</body>
</html>