<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>设备管理</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/css.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=H7Apgj0jSA8WFUOyKZyL20MgZmjfHz7V"></script>
    <style>
        #allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
</head>
<body>
<!--地图-->
    <div id="allmap">地图</div>
<!--单选-->
    <div class="radio">
       <div class="radio_a"></div>
       <div class="radio_b">
           <div class="ra_div" style="margin-left:4%;"><p class=" p" id="0"></p></div>
           <span>全部</span>
           <div class="zheng ra_div"><p class="clicka p" id="1"></p></div>
           <span class="zheng_a ">正常</span>
           <div class="bao ra_div"><p class="clicka p" id="2"></p></div>
           <span class="bao_a">报警</span>
           <div class="gu ra_div"><p class="clicka p" id="3"></p></div>
           <span class="gu_a">故障</span>
           <div class="li ra_div"><p class="clicka p" id="4"></p></div>
           <span class="li_a">离线</span>
           <a class="btn btn-primary btn_m pan_m" id="pandect" ><i class="glyphicon glyphicon-eye-open"></i>总览</a>
       </div>
    </div>

<!--    侧边栏-->
   <div class="navigation">
      <div class="nav_t"></div>
      <div class="nav_n"></div>
   </div>

    <!--侧边抽屉-->
    <div class="drawer" id="drawer">
        <div class="drawer_right">
            <img src="${request.contextPath}/statics/image/jszg.svg" class="drawer_img" id="drawer_img"/>
        </div>
        <div class="drawer_left">
            控制区域11111111111111111111111111111111111111111111111
        </div>
    </div>
</body>
<script src="${request.contextPath}/statics/js/modules/equipment/equipment.js"></script>
<script src="${request.contextPath}/statics/js/mapa.js"></script>
<script src="${request.contextPath}/statics/js/textb.js"></script>

</html>