<!DOCTYPE html>
<html>
<head>
    <title>控制面板</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/control.css">
    <script src="${request.contextPath}/statics/js/jquery.min.js"></script>
</head>
<body>
    <ul class="tab">
        <li class="cur">历史数据</li>
        <li >高级配置</li>
    </ul>
    <div class="option_a">
        <div class="option on">
            qwqw
        </div>
        <div class="option">
          wqwq

        </div>
    </div>


</body>
<script src="${request.contextPath}/statics/js/modules/system/system.js"></script>
</html>