<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>智控物联</title>
    <style>


    </style>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!--头部logo-->
  <link rel="shortcut icon" href="http://pic.nipic.com/2007-11-20/20071120204328625_2.jpg">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <link rel="stylesheet" href="${request.contextPath}/statics/css/index.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
    [endif]-->
</head>

<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue sidebar-mini body_m">
<!-- Site wrapper -->
    <div class="wrapper_w wrapper " id="rrapp" style="background:#fff " v-cloak>
      <header class="main-header " style="box-shadow:0px 2px 10px rgba(0, 0, 0, 0.349019607843137)">
        <a href="javascript:void(0);" class="logo logo_m">
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>智控物联</b></span>
        </a>
        <!-- 标题导航栏:样式可以在Header .less中找到 -->
        <nav class="navbar navbar-static-top navbar_m" role="navigation">
          <!-- 侧边栏切换按钮-->
          <a href="#" class="sidebar-toggle navbar_m" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu" style="margin-top:7px;">
            <ul class="nav navbar-nav">
                <li><a  href="#modules/informa/informa.html" class="navbar_m r_lingdan_l" style="padding: 0;margin-top: 10px;margin-right: 10px;" ><img src="${request.contextPath}/statics/image/tongzhi.png" alt=""></a></li>
                <!--样式修改-->
                <li id="nav_a">
                    <a href="javascript:;"  class="navbar_m"><span class=" r_ioc"  ></span></a>
                    <div class="setting" style="width: 90px;margin-left: -15px;">
                        <span id="set_p" style="border-bottom: 1px solid #ccc;">基本设置</span>
                        <span id="feedback">我要反馈</span>
                    </div>
                </li>
<!--                <li><a  @click="updatePassword"  class="navbar_m"><i class="glyphicon glyphicon-bell"></i></a></li>-->
                <li><a href="logout"  class="navbar_m"><i class="glyphicon glyphicon-off"></i></a></li>
                <li><a  class="navbar_m"><i class="r_touling"></i><img src="">  管理员</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->

      <!-- 左侧侧边栏 -->
      <aside class="main-sidebar main-sidebar_m ">
        <!-- 侧栏:style可以在sidebar.less中找到 -->
        <section class="sidebar">
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <!-- vue生成的菜单 -->
            <menu-item :item="item" v-for="item in menuList"></menu-item>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
      <!-- =============================================== -->
      <!-- 内容包装器。包含页面内容 -->
      <div class="content-wrapper content_Y">
        <!-- 头部页眉 -->
    <!--    <section class="content-header">-->
    <!--      <ol class="breadcrumb" id="nav_title" style="position:static;float:none;">-->
    <!--        <li class="active"><i class="fa fa-home" style="font-size:20px;position:relative;top:2px;left:-3px;"></i> &nbsp; 首页</li>-->
    <!--        <li class="active">{{navTitle}}</li>-->
    <!--      </ol>-->
    <!--    </section>-->

        <!-- Main content -->
        <section class="content con_tent">
          <iframe scrolling="yes" frameborder="0" class="if_rame_m" :src="main" id="test">

          </iframe>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
              项目备案号
            </div>项目备案号
        </footer>

      <!-- 添加侧边栏的背景。必须放置这个div紧接控件侧栏之后 -->
        <div class="control-sidebar-bg"></div>

      <!-- 修改密码 -->
        <div id="passwordLayer" style="display: none;">
            <form class="form-horizontal">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-2 control-label">账号</div>
                    <span class="label label-success" style="vertical-align: bottom;">{{user.username}}</span>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">原密码</div>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" v-model="password" placeholder="原密码"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">新密码</div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" v-model="newPassword" placeholder="新密码"/>
                    </div>
                </div>
            </div>
            </form>
        </div>

      <!-- 基本设置-->
      <div class="JI_b">
          <div class="shade"></div>
          <div class="nei_r">
              <div class="J_fan">基本设置<span class="glyphicon glyphicon-remove wrong_a"></span></div>
              <!--<img src="${request.contextPath}/statics/image/blue.png" id="r_header_img" >-->
              <span class="sha_span preview">
                    <img id="pic" style="width:50px;height:50px;border-radius:50%;background: red;" src="">
                     <a class="btn btn-primary" id="upload" style="margin-left: 20px;background: #fff;color:#ccc;border:1px solid #ccc;margin-top: 123px;margin-left: -64px;" >上传文件</a>
                    <input id="headUrl" type="hidden">
                </span>

              <div class="import">
                  <div>
                      <span>账户Id</span>
                      <input type="text" placeholder="" id="r_ide" disabled="disabled">
                  </div>
                  <div>
                      <span>账户类型</span>
                      <select class="form-control" id="select1"    >
                          <option>1</option>

                      </select>
                  </div>
                  <div>
                      <span>账号</span>
                      <input type="text" placeholder="" id="r_num">
                  </div>
                  <div>
                      <span>用户名</span>
                      <input type="text" placeholder="" id="r_name_l">
                  </div>
                  <div>
                      <span>邮箱</span>
                      <input type="text" class="ea_b" placeholder="" id="r_rlm">
                      <input type="button" class="ea_a" value="绑定邮箱" id="r_val_eml">
                  </div>
                  <div>
                      <span>手机号</span>
                      <input type="text" class="ea_b" placeholder="" id="r_rlp">
                      <input type="button" class="ea_a" value="绑定手机号"  id="r_val_pho">
                  </div>
              </div>
              <div class="confirm">
<!--                  <input type="button" @click="updatePassword"  value="修改密码" >-->
<!--                  <input type="button"  value="更新信息" id="r_tijiao">-->
                  <div @click="updatePassword"   class="rquebei" >修改密码</div>
                  <div  class=" rqubtn" id="r_tijiao" >更新信息</div>
              </div>
          </div>
      </div>
        <!--邮箱弹窗-->
        <div class="r_lay">
            <!--<div>-->
                <!--<input type="text" id="r_upd">-->
                <!--<span id="btn_typ">绑定邮箱号</span>-->
            <!--</div>-->
            <div>
                <input type="text" id="r_el_upd">
                <input type="button" id="btn" value="获取验证码" onclick="sendemail()" />
            </div>
            <button id="r_bte">提交</button>
        </div>
        <!--手机弹窗-->
        <div class="r_lay_a">
            <!--<div>-->
            <!--<input type="text" id="r_upd">-->
            <!--<span id="btn_typ">绑定邮箱号</span>-->
            <!--</div>-->
            <div>
                <input type="text" id="r_el_upde">
                <input type="button" id="btne" value="获取验证码" onclick="sendemail_a()" />
            </div>
            <button id="r_btee">提交</button>
        </div>


<!--        反馈-->
        <div class="JI_b_a">
            <div class="shade_a"></div>
            <div class="nei_r_a">
                <div class="J_fan">反馈<span class="glyphicon glyphicon-remove wrong"></span></div>

                <div class="import import_a">
                    <div class="mistake">
                        <span class="glyphicon glyphicon-pencil cu_m"></span>
                        <P class="rrbol"></P>
                        <span class="glyphicon glyphicon-remove wrong"></span>
                    </div>
                    <div>
                        <span>标题</span>
                        <input type="text" placeholder="请填写标题" id="rTitle">
                    </div>
                    <div>
                        <span>邮箱</span>
                        <input type="text" placeholder="请填写邮箱" id="r_eml_fan">
                    </div>
                    <div>
                        <span>手机号</span>
                        <input type="text" placeholder="请填写手机号" id="r_ph_fan">
                    </div>
                    <div>
                        <span>内容</span>
                        <textarea rows="7" cols="56" id="r_wen_fan">

                        </textarea>
                    </div>
                </div>
                <div class="confirm">
<!--                    <input type="button"  value="提交" id="r-btn-las">-->
                    <div id="r-btn-las"  class="rquebeis" >提交</div>
                </div>
            </div>
        </div>

    </div>
    <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
    <script src="${request.contextPath}/statics/libs/vue.min.js"></script>
    <script src="${request.contextPath}/statics/libs/router.js"></script>
    <script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
    <script src="${request.contextPath}/statics/libs/app.js"></script>
    <script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
    <script src="${request.contextPath}/statics/js/index.js"></script>
    <script src="${request.contextPath}/statics/js/rindex.js"></script>
    <script src="${request.contextPath}/statics/js/regular.js"></script>
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
</body>
<script>
    $(function() {
        $("#pic").click(function() {
            $("#upload").click(); //隐藏了input:file样式后，点击头像就可以本地上传
            $("#upload").on("change", function() {
                var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
                if (objUrl) {
                    $("#pic").attr("src", objUrl); //将图片路径存入src中，显示出图片
                    upimg();
                }
            });

            var lujing=$("#pic").attr("src");
            console.log(lujing)
        });

        new AjaxUpload('#upload', {
            action:"/remote-admin/sys/upload",
            name: 'file',
            autoSubmit:true,
            responseType:"json",
            onSubmit:function(file, extension){
                if (!(extension && /^(jpg|jpeg|png|gif)$/.test(extension.toLowerCase()))){
                    alert('只支持jpg、png、gif格式的图片！');
                    return false;
                }
            },
            onComplete : function(file, r){
                if(r.code == 200){
                    // alert(r.url);
                    $("#headUrl").val(r.url);
                    $("#pic").attr("src","/remote-admin/"+r.url);
                }else{
                    alert(r.msg);
                }
            }
        });

        //建立一?可存取到?file的url
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
        //上传头像到服务器
        function upimg() {
            console.log(344)
            var pic = $('#upload')[0].files[0];
            var file = new FormData();
            file.append('image', pic);
            $.ajax({
                url: "sys/upload",
                type: "post",
                data: file,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    console.log(data);
                    var res = data;
                    $("#resimg").append("<img src='/" + res + "'>")
                }
            });
        }
    });
</script>
</html>
