<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>光迅物联</title>
    <!-- 告诉浏览器响应屏幕宽度 -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--头部logo-->
    <link rel="shortcut icon" href="http://pic.nipic.com/2007-11-20/20071120204328625_2.jpg">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="${request.contextPath}/statics/css/layui.css">
    <script src="${request.contextPath}/statics/js/layui.js"></script>
  </head>
  <body>
   <div class="retr">
       <div style="margin-top:8%">
           <span>邮箱/手机号：</span>
           <input type="text" placeholder="请输入邮箱/手机号" id="email">
       </div>
       <div>
           <span>验证码：</span>
           <input type="text" value=" " id="bta" style="width:124px;">
           <input id="btne" value="获取验证码" onclick="sendemail_a()"></input>
       </div>
       <button class="Que">确定</button>
   </div>
   <div class="retr_a">
       <div style="margin-top:10%;">
           <span>新密码：</span>
           <input type="text" placeholder="请输入新密码" id="new">
       </div>
       <button class="Que_a">确定</button>
   </div>

  </body>
    <script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
    <script src="${request.contextPath}/statics/libs/vue.min.js"></script>
    <script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
    <script src="${request.contextPath}/statics/libs/jquery.slimscroll.min.js"></script>
    <script src="${request.contextPath}/statics/libs/fastclick.min.js"></script>
    <script src="${request.contextPath}/statics/libs/app.js"></script>
    <script type="text/javascript">
         $(function(){
             function getQueryStringByName(name) {
                 var result = location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
                 if (result == null || result.length < 1) {
                     return "";
                 }
                 return result[1];
             }
             var user=getQueryStringByName("username");
             $(".Que_a").click(function(){
                 var New=$("#new").val()
                 $.ajax({
                     url:'http://localhost/remote-admin/sys/user/updatePwd',
                     type: "post",
                     data:
                         "&username="+user +
                         "&password="+ New
                      ,
                     success: function (res) {
                         console.log(user)

                         if (res.code == "200") {
                             console.log("修改成功")
                             console.log(res)
                             $(".retr").show();
                             $(".retr_a").hide();
                         }
                     }
                 })
             })

             var countdown=60;
         })
         function sendemail_a() {
             console.log("111111111")
             var email=$("#email").val();
             var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
             var Shou=/^1[3456789]\d{9}$/
             if(reg.test(email)) {
                 yan(email,"isEmail");
                 You()
             }else if(Shou.test(email)){
                 yan(email,"isMobile");
                 Shou_a()
             }else{
                 alert("邮箱或手机号格式错误");
                 return false;
             }
         }
         //    验证码
         function yan(contact,fPwdType){
             console.log("22222")
             var obj = $("#btne");
             countdown=60
             settime(obj);
             $.ajax({
                 url:'http://localhost/repwd/sendForPwd?contact='+contact+"&fPwdType="+fPwdType,
                 type: "get",
                 data:{},
                 success: function (res) {
                     console.log(JSON.stringify(res));
                     if (res.code == "200") {
                         console.log(res)
                     }
                 }
             })
         }
         function You() {
             $(".Que").click(function(){
                 var securityCode=$("#bta").val();
                 var email_a=$("#email").val();
                 $.ajax({
                     url: 'http://localhost/repwd/checkRePwdEmail?email='+ email_a+"&securityCode="+securityCode,
                     type: "get",
                     data:{},
                     success: function (res) {
                         console.log(JSON.stringify(res));

                         if (res.code == "200") {
                           $(".retr").hide();
                           $(".retr_a").show();
                         }
                     }
                 })
             })
         }

         function Shou_a() {
             $(".Que").click(function(){
                 var securityCode=$("#bta").val();
                 var email_a=$("#email").val();
                 $.ajax({
                     url:  'http://localhost/repwd/checkRePwdMobile?mobile='+ email_a+"&securityCode="+securityCode,
                     type: "get",
                     data:{},
                     success: function (res) {
                         console.log(JSON.stringify(res));
                         if (res.code == "200") {
                             $(".retr").hide();
                             $(".retr_a").show();
                         }
                     }
                 })
             })
         }

         function settime(obja) { //发送验证码倒计时
             if (countdown == 0) {
                 obja.attr('disabled',false);
                 //obj.removeattr("disabled");
                 obja.val("获取验证码");
                 countdown = 60;
                 return;
             } else {
                 obja.attr('disabled',true);
                 obja.val("重新发送(" + countdown + ")");
                 countdown--;
             }
             setTimeout(function() {
                     settime(obja) }
                 ,1000)
         }
         //倒计时60秒

    </script>
</html>