<!DOCTYPE html>
<html class="no-js" lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>控制面板</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/control.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/layui.css">
    <!--<link rel="stylesheet" href="${request.contextPath}/statics/css/lc_switch.css">-->
<!-- echarts-->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script src="${request.contextPath}/statics/js/layui.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="${request.contextPath}/statics/js/jQuery.printa.js"></script>
    <script>
        document.write('<script src="${request.contextPath}/statics/js/modules/control/controla.js?v='+Math.random()+'"><\/script>');
    </script>
    <!--<script src="${request.contextPath}/statics/js/modules/control/lc_switch.js"></script>-->
    <style>
        .rquebei{line-height: 36px;color: #008E8E;margin: 1.7% 0px 0px 1%;}
        .de_i input[type=radio],input[type=checkbox]  {display: inline-block;vertical-align: middle;width: 10px;height: 10px;-margin-left: 5px;
            -webkit-appearance: none;background-color: transparent;border-radius: 50%;border:1px solid #ccc;outline: 0 !important;line-height: 10px;color: #d8d8d8;}
        .de_i input[type=checkbox]:after  {content: "";display:block;width: 10px;height: 10px;text-align: center;line-height: 14px;font-size: 16px;color: #fff;
            background-color: #fff;box-sizing:border-box;border-radius: 50%;background: #ccc;}
        #r_cl{line-height: 47px;cursor: pointer;}
        #r_bttn{margin-top: 2%;line-height: 47px;color:#008E8E;cursor: pointer;}
        .r_shx p{width:auto;height:100%;float:left;display: block;line-height: 60px;}
        .p{text-indent: 0px;}
        #select1_b{width:48%;padding:0;float:left;margin-top:1%;margin-left: 1%;}
        #chong{float: left;line-height:28px;margin-top:1%;width: 49%;border-radius: 4px;border: 1px solid #ccc;height: 70%;}
        .fan_h{padding:0px; float:right;width: 80px;height: 35px;text-align: center;font-size:12px;cursor: pointer;text-indent: 0;}
        .kai_b{width:50% !important;}
        .WdateDiv #dpTime .tE:last-child{display: none!important;}
        .WdateDiv #dpTime .tm:last-child{display: none!important;}
        #hardware,#hardware_a{display: none;}
        .hardware,.hardware_a{width:70px;height:35px;float:left;}
        #upgrade,#upgrade_a{width:10%;float: left;}
        @media screen and (max-width:1100px) {
            .con_Gu ul img {margin-left: 0%;}
            .con_Xu ul span, .con_Gu ul span {width: 66%;}
            .kuang {width: 48%;height: 175px;border: 1px solid #999999;float: left;margin-left: 3%;}
            .clbos{clear: both;margin-left: 0;margin-top: 41px;}
            .kuang > div > div > p {float: left;display: inline-block;width: 48%;background: #ccc;}
            .kuang > div > div > span {float: left;display: inline-block;width: 50%;}
            .kuang > p,.dkuang > p {width: 20px;height: 110px;background: #4BBFBB;margin: 30px 14px;writing-mode: vertical-rl;letter-spacing: 5px;
                padding: 25px 19px;float: left;color: #fff;text-align: center;line-height: 1px;}
            .shul > p {display: inline-block;width: 21%;float: left;font-size: 12px;}
            .dkuang {clear: both;width: 100%;height: 175px;border: 1px solid #ccc;float: left;margin-top: 40px;}
            .dkuang > div > div {width: 100%;height: 30px;}
            .dkuang > div > div > span {display: inline-block;float: left;width: 50%;}
            .dkuang > div {float: left;width: 79%;margin: 43px auto;}
        }
        @media screen and (min-width:800px) and (max-width:1400px) {
            .minr_ja{width: 42%!important;}
            .htn{margin: 5.5% 0 0 -1%!important;}
            .sp_a{margin-top: 9%;}
            .con_Gu ul img {margin-left: 0%;}
            .con_Xu ul span, .con_Gu ul span {width: 66%;}
            .kuang {width: 42%;height: 175px;border: 1px solid #999999;float: left;margin-left: 16%;}
            .clbos{clear: both;margin-left: 0;margin-top: 41px;}
            .shul > p {display: inline-block;width: 14%;float: left;font-size: 12px;}
            .dkuang {width:100%;height: 175px;border: 1px solid #ccc;float: left;margin-top: 40px;}
            .kuang > p ,.dkuang > p{width: 20px;height: 110px;background: #4BBFBB;margin: 30px 14px;writing-mode: vertical-rl;letter-spacing: 5px;
                padding: 25px 19px;float: left;color: #fff;text-align: center;line-height: 1px;}
            .kuang > div > div > p {float: left;display: inline-block;width: 53%;background: #ccc;}
            .kuang > div > div > span {float: left;display: inline-block;width: 47%;}
            .tnslo{width: 100%;}
            .r-Battery{margin-top: 0;}
        }


    </style>
</head>
<body>
<div class="hear r_shx">
    <p><img src="${request.contextPath}/statics/image/dingwei.png" alt="">项目管理></p><p class="p" id="bian"></p><p class="p" id="bian_b"></p>
    <div class="btn btn-primary op_T rquebei fan_h" style="margin:0.8% 2% 0px 0px;" onclick="goback()">返回上一页</div>
</div>
<ul class="tab r_shx">
    <li class="cur history" style="margin-left:10%;">历史数据</li>
    <li id="opt">高级配置</li>
    <li id="hardware">硬件升级</li>
    <li id="shuju">实时数据</li>
</ul>
<div class="option_a">
<!--历史数据-->
    <div class="option on">
        <div class="Shu_r">
            <span class="hear_w">统计方式：</span>
            <select class="form-control sele_con" id="sele_con">
                <option id="1">按日统计</option>
                <option id="2">按月统计</option>
                <option id="3">按年统计</option>
            </select>
            <span class="hear_w">选择日期：</span>
            <input id="d421" class="Wdate da_te" type="text"  autocomplete="off" />
            <div id="statistics" class="btn btn-primary btn_m op_T rquebei" >统计</div>
            <div class="btn btn-primary btn_m op_T rquebei" onclick="jQuery('#ele1').print()">打印报表</div>
        </div>
        <div class="Biao_g" id="ele1" style="height:88%">
            <div class="B_left" id="container"></div>
            <div class="B_left" id="zhe_x"></div>
            <div class="B_left" id="voltage"></div>
            <div class="B_left" id="environment"></div>
            <div class="B_left" id="induced"></div>
            <div class="B_left" id="tian_q"></div>
        </div>
    </div>
<!--高级设置-->
    <div class="option" id="op_a">
        <!--11111-->
        <div class="r-load">
            <div class="r-heade">
                <img src="${request.contextPath}/statics/image/fuzaip.png" alt="" style=" width: 20px;margin-top: -4px; margin-right: 5px;">
                负载设置</div>
            <div class="r-content">
              <div class="nnbde">
                  <div class="le-con">
                      <p class="r-bt" id="r_btn_l" style="margin: 0;">
                          <span>负载工作模式</span>
                          <select class="form-control in_dent" id="select1_b">
                              <option class="5 ">测试</option>
                              <option class="0">定时模式</option>
                              <option class="1">光控模式</option>
                              <option class="3">常开</option>
                              <option class="4">常关</option>
                          </select>
                      </p>
                      <div class="dinstn">
                          <span>开灯时刻</span>
                          <input type="text" class="Wdate wd_hang" value="18:00" id="d414" onclick="WdatePicker({autoShowQS:false,qsEnabled:false,
                        isShowClear:false,isShowOK:false,isShowToday:false,dateFmt:'H:mm',minDate:'0:00',maxDate:'23:59'})"/>
                      </div>
                      <div class="mositn" >
                          <span>光控电压(v)</span>
                          <div class="container" style="width:48%;margin:1.7% 0px 0px 1%;">
                              <div class="input-group spinner">
                                  <input type="text"  class="form-control in_dent" value="5" id="r_teml_tgl" oninput="value=value.replace(/[^\d.]/g,'')">
                                  <div class="input-group-btn-vertical">
                                      <button class="btn btn-default" type="button" style="padding: 8.3px 7px !important;"><i class="fa fa-caret-up" style="top: 2px !important;
left: 3px !important;"></i></button>
                                      <button class="btn btn-default" type="button" style="padding: 8.3px 7px !important;"><i class="fa fa-caret-down" style="top: 2px !important;
left: 3px !important;"></i></button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="mositn">
                          <span >光控延时时间(s)</span>
                          <div class="progres kai_b" style="margin-left: -3%!important;margin-top: 5%!important;">
                              <div id="slideTest_m" class="demo-slider" style="height:10px;"></div>
                          </div>
                      </div>
                  </div>

                  <div class="rg-con">
                      <div class="r-bt">
                          <span> 负载功率(W)</span>
                          <div class="container_a">
                              <div class="input-group spinner">
                                  <!--oninput="num(this)"-->
                                  <input type="text"  class="form-control in_dent "  value="5" id="r_Load_power" onkeyup="value=value.replace(/[^\d.]/g,'')" >
                                  <div class="input-group-btn-vertical">
                                      <button class="btn btn-default rrjia" type="button" style="padding: 8.4px 7px!important;"><i class="fa fa-caret-up" style="top: 2px!important;left: 3px!important;"></i></button>
                                      <button class="btn btn-default" type="button" style="padding: 8.4px 7px!important;"><i class="fa fa-caret-down" style="top: 2px!important;left: 3px!important;"></i></button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div  class="dinstn">
                          <span>关灯时刻</span>
                          <input type="text" class="Wdate rda wd_hang" value="00:00" id="d4141" onclick="WdatePicker({autoShowQS:false,qsEnabled:false,
                        isShowClear:false,isShowOK:false,isShowToday:false,dateFmt:'H:mm',minDate:'00:00',maxDate:'23:59'})"/>
                      </div>
                      <div class="mositn">
                          <p class="r-bt" id="r_btl_th" style="width: 100%;">
                              <span >光控关灯开关</span>
                              <input name="sexa4" type="radio"  class="che_gua r_btl_th" id="sexa4" value="1" checked/>开
                              <input name="sexa4" type="radio" class="che_gua r_btl_th" id="sexa4_a" value="0"/>关
                          </p>
                      </div>
                  </div>
              </div>
                <div class="stnl">
                    <div>
                        <span>时段:1</span>
                        <div class="container">
                            <div class="input-group spinner">
                                <input type="text" class="form-control r_feizifu" value="12" id="r_one_teml" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container r-container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="50" id="r_teml_tw" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <i class="someone"><span>有人功率</span>有人</i>
                        <div class="progres">
                            <div id="slideTest4" class="demo-slider" style="height:10px;"></div>
                        </div>
                    </div>
                    <div style="float: left;">
                        <span>时段:2</span>
                        <div class="container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_sv" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="container r-container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_eg" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <i class="someone"><span>有人功率</span>有人</i>
                        <div class="progres">
                            <div id="slideTest12" class="demo-slider" style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <span>时段:3</span>
                        <div class="container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_th" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="container r-container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_for" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div >
                            <i class="someone"><span>有人功率</span>有人</i>
                            <div class="progres">
                                <div id="slideTest8" class="demo-slider" style="height:10px;"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span>时段:4</span>
                        <div class="container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_ng" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container r-container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_te" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <i class="someone"><span>有人功率</span>有人</i>
                            <div class="progres">
                                <div id="slideTest10" class="demo-slider" style="height:10px;"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span>时段:5</span>
                        <div class="container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_fif" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="container r-container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_six" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div >
                            <i class="someone"><span>有人功率</span>有人</i>
                            <div class="progres">
                                <div id="slideTest13" class="demo-slider" style="height:10px;"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span>晨亮</span>
                        <div class="container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_el" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container r-container">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control r_feizifu" value="2" id="r_teml_egl" style="height: 24px!important;" oninput="value=value.replace(/[^\d]/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div >
                            <i class="someone"><span>有人功率</span>有人</i>
                            <div class="progres">
                                <div id="slideTest6" class="demo-slider" style="height:10px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stnr">
                    <div>
                        <p class="r-bt" id="r_btl_th3" style="margin-left: 3%">
                            <span >人体感应开关</span>
                            <input name="sexa" type="radio"  class="che_guad r_btl_th sdk"  value="1" checked/>开
                            <input name="sexa" type="radio" class="che_guad r_btl_th sdke" value="0"/>关
                        </p>
                    </div>
                    <div>
                        <div class="progres de_i">
                            <i class="unmanned"><input name="sex" type="checkbox"  checked="" value="0" class="se_a"/><span>无人功率</span> 无人</i>
                            <div id="slideTest5" class="demo-slider" style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <div class="progres de_i">
                            <i class="unmanned"><input name="sex" type="checkbox" value="1" checked=""  class="se_b"/><span>无人功率</span>无人</i>
                            <div id="slideTest16" class="demo-slider" style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <div class="progres de_i">
                            <i class="unmanned"><input name="sex" type="checkbox"  checked="" value="2" class="se_c"/><span>无人功率</span>无人</i>
                            <div id="slideTest9" class="demo-slider" style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <div class="progres de_i">
                            <i  class="unmanned"><input name="sex" type="checkbox" value="3"  checked="checked" class="se_d"/><span>无人功率</span>无人</i>
                            <div id="slideTest11" class="demo-slider" style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <div class="progres de_i">
                            <i class="unmanned"><input name="sex" type="checkbox" value="4"  checked="" class="se_e"/><span>无人功率</span>无人</i>
                            <div id="slideTest14" class="demo-slider" style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <div class="progres de_i">
                            <i class="unmanned"><input name="sex" type="checkbox"  value="5"  checked="" class="se_f"/><span>无人功率</span>无人</i>
                            <div id="slideTest7" class="demo-slider" style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <span class="sdsds" style="width:43%">感应亮灯时长(s)</span>
                        <div class="container" style="width:20%;margin:2.1% 0px 0px 1.4%;">
                            <div class="input-group spinner nbo">
                                <input type="text"  class="form-control" value="1" id="r_teml_ma" oninput="value=value.replace(/[^\d]/g,'')" style="padding-left: 13%;outline: none;box-shadow: none;border: 1px solid #ccc;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--22222-->

        <!--蓄电池-->
        <div class="r-Battery-tw">
            <div class="r-heade"><img src="${request.contextPath}/statics/image/dianchishezhip.png" alt="" style="margin-right: 10px;width: 20px;margin-top: -4px;">电池设置</div>
            <div class="r-Battery-tw-con">
                <div class="r-Battery-lef">
                    <div>
                        <span>电池类型</span>
                        <div class="form-group col-sm-2 " style="width:49%;padding:0;margin:0;margin-top: 2%;">
                            <select class="form-control" id="r_select_b" style="padding-left: 2px;">
                                <option class="3">磷酸铁锂电池</option>
                                <option class="4">三元锂电池</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="r-Battery-rge">
                    <div>
                        <span>电池串数</span>
                        <div class="container" style="width:49%;margin-top:2%;">
                            <div class="input-group spinner">
                                <input type="text"  class="form-control in_dent" value="3" id="r_teml_forl" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default jiaba" value="+" type="button" style="padding: 8.4px 7px!important;"><i class="fa fa-caret-up" style="top: 2px!important;left: 3px!important;"></i></button>
                                    <button class="btn btn-default jiaba" value="-" type="button" style="padding: 8.4px 7px!important;"><i class="fa fa-caret-down" style="top: 2px!important;left: 3px!important;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--最新改版-->
                <div class="snds">
                    <p class="r-bt" id="r_btl_th0">
                        <span >自定义</span>
                        <input name="sexa1" type="radio"  class="che_guad r_btl_th nqde"  value="1" checked/>自定义
                        <input name="sexa1" type="radio" class="che_guad r_btl_th nqd" value="0"/>默认
                    </p>
                    <div class=" sndsa">
                        <div>
                            <span style="float: left;" class="slgn">充电电压(V)</span>
                            <input type="text" id="chong" class="in_dent" placeholder="2.5~40"  onblur="numma(this)" >
                        </div>
                        <div>
                            <span  class="slgn">过放电压(V)</span><input type="text"   placeholder="2.5~40"  class="mms m_in in_dent "  id="r_inpl_one"  onblur="numnnd(this)">
                        </div>
                        <div>
                            <span  class="slgn">充电电流(A)</span><input type="text"  placeholder="0~40" value="20"  class="mms m_in in_dent " id="r_inpl_tw"  onblur="numnnd(this)">
                        </div>
                    </div>
                </div>
                <div class="sndsm" >
                    <p class="r-bt" id="r_btl_th1">
                        <span >温控开关</span>
                        <input name="sexa2" type="radio"  class="che_guad r_btl_th kudx"  value="1" checked/>开
                        <input name="sexa2" type="radio" class="che_guad r_btl_th kudxe" value="0"/>关
                    </p>
                    <div class=" sndsam">
                        <div>
                            <span class="nqq">充电温度范围(°C)</span>
                            <div class="container" style="float:left;width: 48px">
                                <div class="input-group spinner sp_a">
                                    <input type="text" class="form-control"  value="-40"  onBlur=" " id="r_teml_thglte" style="height: 34px;" onblur="numnnde(obj,val)"  >
                                    <!--oninput="num(this)"-->
                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default nqiu" type="button" style="padding: 8.3px 7px!important;"><i class="fa fa-caret-up" style="top: 2px!important;left: 3px!important;"></i></button>
                                        <button class="btn btn-default jianr" type="button" style="padding: 8.3px 7px!important;"><i class="fa fa-caret-down " style="top: 2px!important;left: 3px!important;"></i></button>
                                    </div>
                                </div>
                            </div>
                            <span style="display: inline-block;width: 10px;">--</span>
                            <div class="container r-container" style="float:left;width: 48px">
                                <div class="input-group spinner sp_a">
                                    <input type="text" class="form-control r_feizifu"  value="99"  onBlur=" " id="r_teml_thete"  style="height: 34px;">
                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default jiar" type="button" style="padding: 8.3px 7px!important;"><i class="fa fa-caret-up" style="top: 2px!important;left: 3px!important;"></i></button>
                                        <button class="btn btn-default jianr" type="button" style="padding: 8.3px 7px!important;"><i class="fa fa-caret-down" style="top: 2px!important;left: 3px!important;"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="line-height: 34px;">
                            <span class="nqq">放电温度范围(°C)</span>
                            <div class="container" style="float:left;width: 48px;margin: 0px 3% 0px 0%; ">
                                <div class="input-group spinner sp_a">
                                    <input type=""  class="form-control" value="-40" id="r_teml_thglt"  style="height: 34px;">
                                    <!--oninput="num(this)"-->
                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default nqiu" type="button" style="padding: 8.3px 7px!important;"><i class="fa fa-caret-up" style="top: 2px!important;left: 3px!important;"></i></button>
                                        <button class="btn btn-default jianr" type="button" style="padding: 8.3px 7px!important;"><i class="fa fa-caret-down " style="top: 2px!important;left: 3px!important;"></i></button>
                                    </div>
                                </div>
                            </div>
                           <span style="display: inline-block;width: 10px;">--</span>
                            <div class="container r-container" style="float:left;width: 48px">
                                <div class="input-group spinner sp_a">
                                    <input type=""  min="1" max="99" class="form-control r_feizifu" value="99" id="r_teml_thet"  style="height: 34px;" >
                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default jiar" type="button" style="padding: 8.3px 7px!important;"><i class="fa fa-caret-up" style="top: 2px!important;left: 3px!important;"></i></button>
                                        <button class="btn btn-default jianr" type="button" style="padding: 8.3px 7px!important;"><i class="fa fa-caret-down" style="top: 2px!important;left: 3px!important;"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r-Battery">
            <div class="r-heade"><img src="${request.contextPath}/statics/image/jiengnshep.png" alt="" style="margin-top: -3px;width: 14px;display: inline-block;height: 21px;margin-right: 6px;">节能设置</div>
            <div class="r-content" style="padding: 0 3%;padding-bottom: 5%;">
                <div class="form-group col-sm-2 " style="width:50%;padding:0;margin:0;margin-top: 20px;">
                    <span style="width:29%;height:100%;float: left;line-height:34px;font-size:12px;color:#333">节能智能开关</span>
                    <select class="form-control"  id="custom" style="width:50%;" >
                        <option class="2">智能1级</option>
                        <option class="0">关</option>
                        <option class="1">自定义</option>
                        <option class="3">智能2级</option>
                        <option class="4">智能3级</option>
                    </select>
                </div>
            <div class="ndey">
                <div class=" sndsa" style="padding: 0;margin-top: 20px;">
                    <div>
                        <span>一阶电压(V)</span>
                        <input type="text" onblur="numa(this)" class="Jei"  value="1" id="slideTest_a">
                    </div>
                    <div>
                        <span>二阶电压(V)</span>
                        <input type="text" oninput="numc(this)"  class="Jei" value="1" id="slideTest_c">
                    </div>
                    <div>
                        <span>三阶电压(V)</span>
                        <input type="text" oninput="num_e(this)" class="Jei" value="1" id="slideTest_e" >
                    </div>
                </div>
                <div class=" sndsa"  style="padding: 0;">
                    <div>
                        <span style="float: left;">一阶功率(%)</span>
                        <div class="progres htn">
                            <div id="slideTest_b" class="demo-slider " style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <span>二阶功率(%)</span>
                        <div class="progres htn" >
                            <div id="slideTest_d" class="demo-slider " style="height:10px;"></div>
                        </div>
                    </div>
                    <div>
                        <span>三阶功率(%)</span>
                        <div class="progres htn" >
                            <div id="slideTest_f" class="demo-slider " style="height:10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class=" tnslo">
            <div class="r-heade" style="border: none;"><img src="${request.contextPath}/statics/image/qitashep.png" alt="" style="width: 20px;margin-right: 8px;margin-top: -3px;height: 15px;">其他设置</div>
            <div class=" sndsa"  style="padding-left: 3%;margin-top: 12px;">
                <div style="width: 49.33%;">
                    <span style="float: left;" class="minr_ja">负载手动控制生效时长(min)</span>
                    <input type="text" value="15" id="chong3" class="in_dent mms" placeholder="2.5~40"   onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" style="width: 48%;">
                </div>
                <div style="width: 49.33%;">
                    <span>自动休眠时间(min)</span>
                    <input type="text"  value="0" placeholder="1~120"  class="m_in in_dent"  id="r_inpl_one2" onkeyup="value=value.replace(/^(-1+)|[^\d]+/g,'')">
                </div>
            </div>
            <div class=" sndsa"   style="padding-left: 3%;">
                <div style="width: 49.33%;">
                    <div style="line-height: 34px;clear: both;">
                        <span style="width: 43%;">巡检时间(min)</span>
                        <div class="form-group col-sm-2 " style="width:48%;padding:0;margin:0;margin-top: 2%;">
                            <select class="form-control" id="r_teml_thgl">
                                <option class="5">5分钟</option>
                                <option class="1">1分钟</option>
                                <option class="10">10分钟</option>
                                <option class="15">15分钟</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="r-bt" id="r_btl_thr" style="display: flex;line-height: 42px;">
                        <span style="width: 58%;">低功耗</span>
                        <input name="sexdg" type="radio"  class="che_guad r_btl_th " id="sexdg" value="1" checked/>开
                        <input name="sexdg" type="radio" class="che_guad r_btl_th " id="sexdg_a" value="0"/>关
                    </p>
                </div>
            </div>
        </div>

        <!--4444444-->
        <div class="r-bom-btn r_shx">
            <div>
                <div id="r_cl" class="rquebei" >取消</div>
                <div  class="sha_cancel_new rqubtn"  id="r_bttn">确定</div>
            </div>
        </div>
        <!--设置结束-->
    </div>
<!--硬件升级-->
    <div class="option" id="hardware_a">
        <select class="form-control " id="upgrade">

        </select>
        <button class="hardware">升级硬件</button>
        <select class="form-control " id="upgrade_a">

        </select>
        <button class="hardware_a">Gprs升级</button>
    </div>
<!--实时数据-->
    <div class="option" id="shuju_a">
        <div class="content">
            <div class="shul">
                <p>
                    <span>运行天数：</span>
                    <h id="rtia">8</h><i>天</i>
                </p>
                <p>
                    <span>通讯方式：</span>
                    <h id="rxun"></h>
                </p>
                <p>
                    <span>硬件版本：</span>
                    <h id="rben">1.0</h><i></i>
                </p>
                <p>
                    <span>软件版本：</span>
                    <h id="ruan">102</h><i></i>
                </p>
            </div>
            <div class="dianchi">
                <div class="kuang" style="margin-left: 0;">
                    <p>蓄电池</p>
                    <div style="margin: 41px auto;">
                        <div>
                            <span>电池状态：</span>
                            <p style="background:#fff;color: #000;">
                                <span  id="rzhuan" style="background:#fff;color: #000;">正常</span>
                            </p>
                        </div>
                        <div>
                            <span>余量：</span>
                            <p>
                                <span id="yula" >106</span>
                            </p>
                        </div>
                        <div>
                            <span>电池电压：</span>
                            <p>
                                <span id="rdiay">12.2</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="kuang">
                    <p>光电池</p>
                    <div>
                        <div>
                            <span>光电池状态：</span>
                            <p style="background:#fff;color: #000;">
                                <span id="rguang" style="width: 100%;background: #fff;color: #000;">正常</span>
                            </p>
                        </div>
                        <div>
                            <span>光电池电压(v)：</span>
                            <p>
                                <span id="rya" style="width: 0;">12.2</span>
                            </p>
                        </div>
                        <div>
                            <span>充电电流(A)：</span>
                            <p>
                                <span id="rliu">12.2</span>
                            </p>
                        </div>
                        <div>
                            <span>充电功率(W)：</span>
                            <p>
                                <span id="rdianl">12.2</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="kuang clbos">
                    <p  style="padding: 35px 19px;">负载</p>
                    <div>
                        <div>
                            <span>负载状态：</span>
                            <p style="background:#fff;color: #000;">
                                <span id="rzhun"  style="width: 100%;background:#fff;color: #000;">正常</span>
                            </p>
                        </div>
                        <div>
                            <span>负载电压(v)：</span>
                            <p>
                                <span id="rfu">12.2</span>
                            </p>
                        </div>
                        <div>
                            <span>负载电流(A)：</span>
                            <p>
                                <span id="rful">12.2</span>
                            </p>
                        </div>
                        <div>
                            <span>负载功率(W)：</span>
                            <p>
                                <span id="rfugon">12.2</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="dkuang">
                    <p  style="padding: 16px 19px;">常规设置</p>
                    <div>
                        <div  class="slds">
                            <div style="float: left;width: 50%;">
                                <span class="con_an_span" style="width:32%;">负载开关：</span>
                                <div class="form-group form_con_an" id="in_p" style="margin:5px 0px 10px 0px;">
                                    <input type="radio" class="control-label in_put" id="richang" style="margin-left:6%" value="1" name="category" />开
                                    <input type="radio" class="control-label in_put" id="dae" value="0" name="category" />关
                                    <input type="radio" class="control-label in_put" id="dae_a" value="2" name="category" checked/>自动
                                </div>
                            </div>
                            <div style="width: 50%;float: left">
                                <span style="float: left;width:28%;">亮度：</span>
                                <div class="progres kai_b" style="margin: 3% 0px 0px 3% !important;">
                                    <div id="slideTest_r" class="demo-slider" style="height:10px;"></div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both">
                            <div  style="width: 50%;float: left">
                                <span style="float:left;width: 35%;">亮灯时长(min)：</span>
                                <input type="text" placeholder="亮灯时间" id="rzyb" class="bs" oninput="value=value.replace(/[^\d]/g,'')">
                            </div>
                            <div  style="width: 50%;float: left">
                                <span style="float:left;width: 35%;">晨亮时长(min)：</span>
                                <input type="text" placeholder="晨亮时长" id="rac" class="bs" oninput="value=value.replace(/[^\d]/g,'')" >
                            </div>
                        </div>
                        <div style="clear: both">
                            <div  style="width: 50%;float: left">
                                <span style="float:left;width: 35%;margin-top:1%;">运输：</span>
                                <div class="form-group form_con_an" id="transport" style="margin: 4px 0px;">
                                    <input type="radio" class="control-label in_put"  value="1" name="tran" />开
                                    <input type="radio" class="control-label in_put"  value="0" name="tran" checked/>关

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sha_buttom" style="width:100%;border: none;background: #fff;">
                <div id="confirm_Z" class="rquebei" style="margin:0;line-height: 36px;line-height: 48px;margin-top: 0!important;">确定</div>
                <div class="sha_cancel_new rqubtn"style="margin:0;margin-left: 120px;line-height: 48px;" >取消</div>
            </div>
        </div>

    </div>
    <!--彻底结束-->
</div>
</body>
<script src="${request.contextPath}/statics/js/modules/control/My97DatePicker/WdatePickera.js"></script>
<script>
    function goback(){
        sessionStorage.setItem('l','1');
        window.history.back()
    }
    //自定义一阶电压
    function numa(obj,val){
        obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g,""); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
        var a=document.getElementById("chong").value;
        var b=document.getElementById("r_inpl_one").value;//最小值
        var c=document.getElementById("slideTest_c").value;
        var e=document.getElementById("slideTest_e").value;
        console.log(parseFloat(b)+'+++++'+parseFloat(a)+'+++++'+parseFloat(obj.value));
        if( parseFloat(obj.value)>parseFloat(a)){
            obj.value=a
        }
        //在这儿加判断吗对，最小值是多少
        if(parseFloat(obj.value) < parseFloat(b)){
            obj.value=b
        }
    }
    //充电电压
    function numma(obj,val){
        obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g,""); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
        //在这儿加判断吗对，最小值是多少
        if(parseFloat(obj.value) < parseFloat(2.5)){
            obj.value=2.5
        }
    }
    function numnnd(obj,val){
        obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g,""); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
        var a=document.getElementById("slideTest_a").value;
    }
    function numnnde(obj,val){
        // obj.value = obj.value.replace(/^(\-?)\d+(\.\d?)$/g,""); //清除"数字"和"."以外的字符
        // var a=document.getElementById("slideTest_a").value;
    }



    layui.use('slider', function(){
        var $ = layui.$
            ,slider = layui.slider;
        slider.render({
            elem: '#slideTest4'
            ,theme: '#1E9FFF' //主题色
            ,value: 0//初始值
        });
        slider.render({
            elem: '#slideTest5'
            ,theme: '#1E9FFF' //主题色
            ,value: 0 //初始值
        });
        slider.render({
            elem: '#slideTest6'
            ,theme: '#1E9FFF' //主题色
            ,value: 80
            ,value: 0 //初始值
        });
        slider.render({
            elem: '#slideTest7'
            ,theme: '#1E9FFF' //主题色
            ,value: 0 //初始值

        });
        slider.render({
            elem: '#slideTest8'
            ,theme: '#1E9FFF' //主题色
            ,value:0
        });
        slider.render({
            elem: '#slideTest9'
            ,theme: '#1E9FFF' //主题色
            ,value:0

        });
        slider.render({
            elem: '#slideTest10'
            ,theme: '#1E9FFF' //主题色
            // ,input: true //输入框
            // ,type: 'vertical' //垂直滑块
            ,value:0
        });
        slider.render({
            elem: '#slideTest11'
            ,theme: '#1E9FFF' //主题色
            ,value:0

        });
        slider.render({
            elem: '#slideTest_r'
            ,theme: '#1E9FFF' //主题色
            ,value:100
        });
        slider.render({
            elem: '#slideTest12'
            ,theme: '#1E9FFF' //主题色
            ,value:0
        });
        slider.render({
            elem: '#slideTest13'
            ,theme: '#1E9FFF' //主题色
            ,value:0
        });
        slider.render({
            elem: '#slideTest14'
            ,theme: '#1E9FFF' //主题色
            ,value:0

        });
        slider.render({
            elem: '#slideTest16'
            ,theme: '#1E9FFF' //主题色
            ,value:0
        });
        slider.render({
            elem: '#slideTest_b'
            ,theme: '#1E9FFF' //主题色
            ,value:0
            ,min:2
            ,max:100
            ,change: function(value) {
                slider.render({
                    elem: '#slideTest_d'
                    ,theme: '#1E9FFF' //主题色
                    ,value:0
                    ,min:1
                    ,max:value
                    ,change: function(value_f) {
                        slider.render({
                            elem: '#slideTest_f'
                            ,theme: '#1E9FFF' //主题色
                            ,value:0
                            ,min:0
                            ,max:value_f
                        });
                    }
                });
            }
        });
        slider.render({
            elem: '#slideTest_c'
            ,theme: '#1E9FFF' //主题色
            ,input: true //输入框
            ,value:0
        });
        slider.render({
            elem: '#slideTest_d'
            ,theme: '#1E9FFF' //主题色
            ,value:0
            ,min:0
            ,disabled:true
        });
        slider.render({
            elem: '#slideTest_e'
            ,theme: '#1E9FFF' //主题色
            ,input: true //输入框
            ,value:0
            ,min:0
        });
        slider.render({
            elem: '#slideTest_f'
            ,theme: '#1E9FFF' //主题色
            ,value:0
            ,min:0
            ,disabled:true
        });
        slider.render({
            elem: '#slideTest_m'
            ,theme: '#1E9FFF' //主题色
            ,value:5
            ,min: 5
            ,max:120
        });
    });


</script>
</html>