<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:feedback:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:feedback:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:feedback:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
            <div class="row">
                <button type="button" class="btn btn-primary btn-block btn-flat" @click="message">跳转到项目</button>
            </div>
            <a href="http://localhost:8080/remote-admin/index.html#modules/message/message.html" target="_self">跳转到项目</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>

        <form class="form-horizontal">
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">反馈内容</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="feedback.backContent" placeholder="反馈内容"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="feedback.backCreateTime" placeholder="时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">反馈解答内容</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="feedback.answerContent" placeholder="反馈解答内容"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">反馈解答人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="feedback.answerUser" placeholder="反馈解答人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">反馈解答时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="feedback.answerCreateTime" placeholder="反馈解答时间"/>
                        </div>
                    </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">上传图片</div>
                <div class="col-sm-10">
                    <button style="position:relative;" class="btn btn-primary" id="btn" name="btn">上传图片</button>
                    <input type="file" name="file" id="file"  onchange="uploadImage(this);" style="opacity:0;width:100%;height:100%;position:absolute;top:0;left:0">
                </div>
            </div>


							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/feedback.js?_${.now?long}"></script>
</body>
</html>