html,body{width:100% !important;height:100% !important;margin:0;padding:0;font-size:12px;background: rgba(242, 242, 242, 1)}
/*css功能样式*/
.hear{width:100%;height:8%;float:left;border-bottom: 10px solid rgba(242, 242, 242, 1);text-indent: 25px;line-height:60px;font-size:18px;background: #fff;}
.project_he{width:100%;height:11.5%;float:left;border-bottom: 10px solid rgba(242, 242, 242, 1);}
.hear_w{width:auto;height:auto;float:left;margin:2.7% 0px 0px 2.5%;font-size:14px;}
.form_input{  margin-bottom: 0px !important; padding: 0px !important;width:11% !important;;height:100%;margin-top:26px;}

/*选项卡*/
.option_a{width:100%;height:81%;float:left;}

.option{width:100%;height:100%;display:none;float:left; overflow-x: hidden;overflow-y: scroll;}
.option::-webkit-scrollbar {
    display: none;
}
.tab {width:100%;height:10%;float:left;margin:0;padding:0;list-style:none;overflow:hidden;border-bottom: 10px solid rgba(242, 242, 242, 1);background: #fff;}
.tab li {float:left;width:6%;height:50%;color:#666;font-size:14px;text-align:center;line-height:30px;cursor:pointer;margin:1.1% 0px 0px 2%;}
.on {display:block;}
.tab li.cur {border-bottom: 2px solid rgba(24, 144, 255, 1);}
.Shu_r{width:100%;height:18%;float:left;border-bottom: 10px solid rgba(242, 242, 242, 1);background: #fff;}

.form_input{margin:0;padding: 0;}
.sele_con{width:10%;margin-top: 2.2%; float:left;}
.op_T{background:rgba(24, 144, 255, 1);border:0;margin: 2.3% 0px 0px 1%;}
.Biao_g{width:100%;height:82%;float:left;overflow-x: hidden;overflow-y: scroll;background: #fff;}
.Biao_g::-webkit-scrollbar {
    display: none;
}
.B_left{width:49.5%;height:270px;float:left;border-bottom:10px solid rgba(242, 242, 242, 1);}
.B_left:nth-of-type(odd){border-right:10px solid rgba(242, 242, 242, 1);}
.da_te{width:137px;height:35px !important;float:left;border-radius: 4px; border:1px solid #ccc;margin-top:2%;text-indent: 10px;}

/*负载*/
.r-load{width: 49.5%;height: 340px;float: left;background: #fff;}
.r-heade,.r-Lamp-head{width: 100%;height:37px ;float:left;background: #5bc0de;border: 1px solid #00acd6;line-height:37px;text-indent:25px}
.r-content{width:100%;float:left;height:auto;}
.le-con{width:50%;font-size: 12px;float: left;margin: 3% 0px 0px 0%;background: #fff;}
.le-con > p{width: 100%;display:block;height: 50px;line-height: 50px;}
.le-con > div{display: flex;align-items: center;height: 50px;}
.r-bt > input{display: inline-block;}
.le-con span{width:83px;height:100%;float: left;line-height: 50px;margin:0px 3% 0px 6%;}

.rg-con{width:50%;font-size: 12px;float: right;background: #fff;margin: 3% 0% 0px 0px;}
.r-Lamp{width:49.5%;font-size: 12px;float: left;background: #fff;}
.rg-con > p{width: 100%;display: inline-block;height: 50px;line-height: 50px;}
.rg-con > div{display: flex;align-items: center;height: 50px;}
.r-bt > input{display: inline-block;}
.rg-con span{width:85px;float:left;height:100%;line-height: 50px;border-right:1px;margin-right:3%;}
/*时间增值框*/

.container{float: left;width:15%;height: 37px;padding:0;margin:0px 10px 0px 1%;}
.container_a{width:47%;height:70%;float:left;margin-left:1%;}
.r-container{margin-left: 0px;}
.r-bt > input{margin-left:10px;}

/*数值增值器*/
spinner {width: 100px;}
.spinner input {text-align: left;padding: 3px 3px;}
.input-group-btn-vertical {position: relative;white-space: nowrap;width: 1%;vertical-align: middle;display: table-cell;}
.input-group-btn-vertical > .btn {display: block;float: none;width: 100%;max-width: 100%;padding: 8px;margin-left: -1px;position: relative;border-radius: 0;}
.input-group-btn-vertical > .btn:first-child {border-top-right-radius: 4px;}
.input-group-btn-vertical > .btn:last-child {margin-top: -2px;border-bottom-right-radius: 4px;}
.input-group-btn-vertical i{position: absolute;top: 0;left: 4px;}
/*蓄电池*/
.m_in{margin: 2% 1% 0px 1%;width:44%;}
.r-Battery-tw{width: 49.5%;height: 420px;float: right;background: #fff;}

/*光电池*/
.r-Battery{width: 49.5%;height: 210px;float: right;background: #fff;}
.r-Battery-lef{width:50%;font-size:12px;float: left;margin:3% 0px 0px 0px;}
.r-Battery-lef > p{width: 100%;display: inline-block;}
.r-Battery-lef > div{height: 50px;width:100%;float:left;}
.r-bt > input{display: inline-block;}
.che_gua{margin-top:5% !important;}
.r-Battery-reg{width:50%;font-size:12px;float: right;margin:3% 0px 0px 0px;background: #fff;}
.r-Battery-reg > p{width: 100%;display: inline-block;height: 50px;}
.r-Battery-reg > div{
    /*display: flex;*/
    /*align-items: center;*/
    height: 50px;
}
.r-bt > input{display: inline-block;}
.r-Battery-reg span{width:81px;height: 100%;float: left;line-height: 50px;margin-right:3%;}
.r-Battery-rge > p{width: 100%;display: inline-block;}
.r-Battery-rge > div{height: 50px;margin-top: 7px;}
.r-bt > input{display: inline-block;}
.r-Battery-rge{width:49.5%;font-size: 14px;float: right;margin-top:3%;}
.r-Battery-rge > p{width: 100%;display: inline-block;height: 50px;}
.r-Battery-rge > div{height: 50px;}

.r-bt > input{display: inline-block;}
.r-Battery-rge span{float: left;line-height:40px;width:110px;}
.r-Battery-rge span>i{color: red;}

/*进度条内容*/
.r-Lamp-head>span{display: inline-block;}
.r-lights{width: auto;float: left;text-align: left;}
.r-Someone,.r-Unmanned{width:20%;margin-left:11%}
.r-Lamp-Progress{width: 100%;font-size: 12px;float:left;}
.r-Lamp-Progress>div{width: 100%;height:31px ;line-height:31px;float:left;clear: both;background: #fff;margin-top: 2.3%;}
.r-Lamp i{color: red;font-style:normal;margin-right: 3px;}
.r-Lamp>div>span>i{color: red;}

/*进度条*/
.progress{float: left;width: 25%;height: 8px;margin-top: 5px;margin-left: 30px;}

/*底部按钮*/
.r-bom-btn{width: 100%;height: 94px;background: #ffffff;clear: both;position: absolute;bottom: 0;}
.r-bom-btn span{display: inline-block;width:82px ;height: 34px;border-radius: 4px;background: #00acd6;line-height: 34px;text-align: center;color: #ffffff;}
.r-bom-btn div{width: 200px;float: right;margin-right: 100px;margin-top: 35px;}
.r-Battery-lef>div >p{font-size: 12px;margin:5% 0px 0px 2%;float: left;}
/*.sha_buttom,.sha_buttom_delete{width:100%;height:50px; position: absolute;bottom: 0;border-top:1px solid #ccc;}*/
/*.sha_buttom input,.sha_buttom_delete input{width:55px;height:30px;border-radius: 5px;background: rgba(24, 144, 255, 1);color:#fff;line-height:30px;float:right;margin:1.7% 4% 0px 0px ;border:0;}*/

/*进度条*/
.r-Lamp-Progress div p{width:auto;float: left;margin-left: 1%;}
.r-Lamp-Progress div>span{float: left;width:78px;height:100%;margin-left: 3%;}
.r-Lamp-Progress div>.progress{float: left;margin-top: 19px;}
.r-Battery-lef div span{width:85px;height: 100%;float: left;line-height: 50px;margin:0px 3% 0px 6%;}
.r-Battery-lef span>i,.r-Battery-reg i{color:red;}
.de_i{margin-left:14% !important;}
/*丸子*/
.progres{width:24%;float: left;margin-top:1.7%;margin-left:4%;}
.demo-slider{line-height: 10px;}
#r_inpl_one,#r_inpl_tw{line-height: 28px;}
.r_i{line-height: 32px;width: 3%;}
.r_ie{line-height: 21px;width: 3%;}

/*自定义弹窗*/
.shade_project{width:100%;height:100%;position: absolute; z-index:9999;top:0; display: none;}
.shade_a{width:100%;height:100%;background: #999; opacity: 0.5;float:left;}
.shade_b_project{width:600px;height:380px; position: absolute; z-index: 99999;top:50%;left:50%;margin:-190px 0px 0px -300px;background: #fff;}
.Bian_j{width:100%;float:left;height:50px;text-indent: 20px;font-size:14px;line-height: 50px;border-bottom: 1px solid #ccc;color:#333;background:#27E2D4;text-align: center;display: none;}

.sha_buttom{width:100%;height:50px; position: absolute;bottom: 0;border-top:1px solid #ccc;}
.sha_buttom >div{width:70px;height:35px;border:1px solid #ccc;border-radius: 4px;text-align: center;line-height: 35px;float:left;}
.jei{width:80%;height:40px;float:left;margin:3% 0px 0px 10%;}
.jei span{width:44px;height:100%;float:left;line-height: 40px;}
.jei .progres{width:30% !important;height:100% !important;float:left;margin-top:0;}
.jei>.progres>.demo-slider{margin-top:15%;}
.pro_p{float:left;margin-top:3%;}








