/*css页面项目更改样式*/
/*创建人：马振超*/
html,body{width:100% !important;height:100% !important;margin:0;padding:0;font-size:12px;}
ul,li,ol{list-style:none;display: block}
/*css功能样式*/
.hear{width:100%;height:60px;float:left;line-height:60px;font-size: 14px;-line-height: 8%;-padding-top: 8px;}
.project_he{width:100%;height:115px;float:left;background: #ffffff;border-top:10px solid #F7F8FA;border-bottom:10px solid #F7F8FA;}
.hear_w{width:auto;height:100%;float:left;line-height: 90px;margin-left:1%;}
.form_input{  margin-bottom: 0px !important; padding: 0px !important;width:11% !important;margin-top:26px;}

/*按钮样式*/
.btn_m{ background: rgba(24, 144, 255, 1) !important; border:rgba(24, 144, 255, 1) !important;margin:26px 0px 0px 0.5%;}

/*表格*/
.table_m{width:96%;height:auto;max-height:61%;float:left;margin-left:2%; display: list-item !important;list-style:none !important;
    margin-top:1.6%;overflow: hidden;overflow-y: auto;white-space: nowrap;  border: 1px solid #ccc;}
.table_m::-webkit-scrollbar {display: none;width:0px}

.table_m ul{width:100%;height:45px;float:left;border-top: 1px solid #ccc;list-style:none !important;margin:0;padding:0; background:#27E2D4;}
.table_m ul li{width:10.611111%;height:100%;float:left;border:0px; border-right:1px solid #ccc;line-height: 40px;text-align: center;list-style:none !important;
    font-size:15px; background: rgba(255, 255, 255, 0);font-weight: bold;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.table_m table{width:100%;height:100%; border:0px;}
.table_m table tr{width:100%;height:45px;float:left;border-top: 1px solid #ccc;}
.table_m table tr td{width:10.611111%;height:100%;float:left;border:0px; border-right:1px solid #ccc;line-height: 40px;
    text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.table_m table tr td:last-child{width:15.111111%;}
.table_m table tr td:last-child,.table_m ul li:last-child{border-right:0;}
.table_m table tr:nth-child(odd){
    background: #F9F9F9;
}
/*分页按钮*/
.ui-pagination-container .ui-pagination-page-item.active{background: #27E2D4 !important;}
/*分页按钮*/

.table_m table tr td a{width:16%;height:100%;float:left;margin-left:3%;}
/*账户分页*/
.table_m_Z table tr td ,.table_m_Z ul li{width:8.3333% !important;}
.table_m_Z table tr td a{width:35%;margin-left:10%;}
/*设备分页*/
.table_grouping table tr td,.table_grouping ul li{width:7.6%;}
/*分组分页*/
/* 修改样式.table_grouping_z table tr td,.table_grouping_z ul li{width:13.6%;}*/
.table_grouping_z table tr td,.table_grouping_z ul li{width:13.3%;}
/*分组下设备*/
.table_grouping_d table tr td,.table_grouping_d ul li{width:7.3%;}
/*分页*/
.box{width:100%;height:40px;text-align: center;float:left;}
/*新增，总览*/
.btn_m{ cursor: pointer;}
/*弹窗*/
.shade,.shade_delete,.shade_new,.shade_project,.shade_modifier,.shade_Yi{width:100%;height:100%;position: absolute; z-index:9999;top:0;display: none; }
.shade_a,.shade_a_delete,.shade_a_new{width:100%;height:100%;background: #999; opacity: 0.5;float:left;}
.shade_b,.shade_b_delete,.shade_b_new,.shade_b_project,.shade_b_modifier,.shade_b_yi{width:600px;height:380px; position: absolute; z-index: 99999;top:50%;left:50%;margin:-190px 0px 0px -300px;background: #fff;display: none;}
.shade_b_delete{width:400px;height:300px;margin:-150px 0px 0px -200px;}
.Bian_j,.Bian_j_delete{width:100%;float:left;height:50px;text-indent: 20px;font-size:14px;line-height: 50px;border-bottom: 1px solid #ccc;color:#333;}
.Bian_P{width:auto;height:auto;float:left;line-height: 50px;color:#333;font-size:14px;text-indent: 20px;}
.mistake{width:90%;height:30px;border-radius: 5px;border:1px solid red;float:left;margin:3% 0px 0px 5%;text-indent: 10px;line-height: 30px;display: none;}
.mistake span:first-child{
    display: inline-block;
    float: left;
    margin-top: 7px;}
.mistake span:last-child{
    display: inline-block;
    float: right;
    margin-top: 7px;}
.mistake p{
    display: inline-block;
    float: left;
    width:300px;
    line-height:30px}
.cu_m{margin-right:2%;}
.wrong{float:right;margin:1.6% 2% 0px 0px;}
.sha_span{width:45%;height:35px;margin-top: 20px;float:left;margin-left:3%;}
.sha_span p{width:35%;height:100%;float:left;line-height: 35px;text-align: right;margin-right:1.1%;color:#333;}
.sha_span input{width:55%;float:left;height:85%;border-radius: 4px; border:1px solid #ccc;text-indent: 10px;margin-top:1%;}
.sha_buttom,.sha_buttom_delete{width:100%;height:50px; position: absolute;bottom: 0;border-top:1px solid #ccc;}
.sha_buttom input,.sha_buttom_delete input{width:55px;height:30px;border-radius: 5px;background: rgba(24, 144, 255, 1);color:#fff;line-height:30px;float:right;margin:1.7% 4% 0px 0px ;border:0;}
.delete_sp{width:100%;height:35px;float:left;text-align: center;line-height:35px;font-size:16px;margin-top:15%}
.delete_p{width:100%;height:35px;float:left;text-align: center;line-height:35px;font-size:16px;margin-top:1.5%}
.guan_sha,.guan_shb,.guan_shc{float:right;margin:4% 5% 0px 0px; cursor: pointer;}
.guan_shb,.guan_shc{margin:3% 3% 0px 0px;}
.Bian_sou{width: 60%;height:35px;float:left;margin-left:20%;margin-top:2%;border:1px solid #ccc;border-radius: 4px;overflow: hidden;}
.Bian_sou input{width:80%;height:100%;float:left;background: 0;border: 0px;text-indent: 10px}


#jqGrid tr,td,th{text-align: center !important;}
thead>th{text-align: center !important;}
.table_a{width:96%;height:550px;float:left;margin-left:2%;margin-top:1.6%;}
#div{width:100%;height:auto;float:left;}

/*滑動按鈕*/
.swa{width:16%;height:50%;float:left;margin:1% 0px 0px 6%;}
.switch{width: 50%;margin: 0px 0px 0 25%;}
.switcha{width:100%;margin: 0px 0px 0 0%;}
.btn_fath{margin-top: 8px;position: relative;border-radius: 20px;border: 1px solid #E6E6E6;}
.btn_fatha{margin:0;padding:0;border: 1px solid #E6E6E6;}
.btn1{float: left;font-size: 12px !important;}
.btn2{float: right;font-size: 12px !important;}
.btnSwitch{height: 30px;width: 50%;border:none;line-height: 30px;font-size: 15px;text-align: center;z-index: 1;}
.btn{padding: 0 !important;}
.move{z-index: 100;
    width: 35%;
    border-radius: 20px;
    height: 72%;
    position: absolute;
    cursor: pointer;
    border: 1px solid #828282;
    background-color: #27E2D4;
    box-shadow: 1px 2px 2px 1px #fff inset,0 0 5px 1px #999;
    top: 16%;
    left: 14%;}
.on .move{left: 50%;
    top: 17%;}
.on.btn_fath{background-color: #F2F2F2;}
.off.btn_fath{background-color: #F2F2F2;}
.btn_fath{
    width: 90%;
}


/*分组*/
.weather{height: 135px; position: relative;}
.gl_fu{margin:4px 2px 0px 0px !important;}
.gl_bt{padding:1.5px 8px !important;}
.hear_weather{width:277px;height:100%;float:left;text-align: left}
.hear_project{width: 80%;
    height: 34%;
    float: left;
    margin-left: 10%;
    text-indent: 0;
    line-height: 117%;
    font-size: 22px;}
.hear_city{text-indent: 0;
    line-height: 7px;
    font-size: 14px;
    color: #999;
    font-weight: 500;}
.hear_city_a span ,.hear_city_b span{width:auto;height:100%;float:left;}
.hear_city_a p,.hear_city_b p{width:32%;height:100%;float:left;}
.hear_city_b p{width:70%;}
.gross{width:12%;height:84%;float:left;border-radius:5px;overflow: hidden;margin:0.7% 0.5% 0px 0px;position: relative; }
.gross_a{color:#00bab5}
.gross_b{color:#00bdff}
.gross_c{color:#fbb03b}
.gross_d{ color:#7e72f2}
.gross_alarm>img{width:78px;height:78px;float:left;margin:8% 0px 0px 7%;}
.gross span{width:70%;height:20px;float:left;font-size:16px;text-indent:0px;line-height: 20px;color: #333333;margin:-33% 37px 0px 56.5%;}
.gross div{width:auto;height:auto;font-size:32px;text-indent: 0px;font-weight: bold;position: absolute;top:-3%;left:66%;}
.gross_map{width:60%;height:60%;right:-2%;position: absolute;bottom: 0;}
.hear_map{width:67%;height:41px;  background: url('/remote-admin/statics/image/fenzu-1.png')no-repeat center !important;
    background-size:100% 41px !important;text-align: center;line-height:41px;color:#fff;font-size:14px;color: #008E8E;
    text-indent: 0;margin-top:15.9%;cursor: pointer}
.status{width:80px;height:25px;position: absolute;right:0;top:0;background: rgba(26, 188, 156, 1);line-height:25px;
    text-align: center;font-size:14px;text-indent: 0;color:#fff;border-radius:0px 0px 0px 10px;}
.checkbox_in{margin-top:18px !important;}
/*移动分组*/
.move_a{width:96%;height:60px;float:left;border-radius: 5px;margin:0.5% 0px 3px 2%;display: none;background: #ebfcfa;}
.move_a div{width:auto;height:auto;float:left;margin:1.5% 0px 0px 2%}
.move_a input{float:left;border-radius: 4px;margin:0.5% 0px 0px 1%;background: 0;}
.move_a span{width: auto;height:auto;float:left;margin:1.5% 0px 0px 0px;color:#000000;)}
.r_span{
    width: 104px;height: 35px;border: 1px solid #1DD2BC;line-height: 35px;text-align: center;float: left;margin-top: 12px;margin-left: 15px;border-radius: 6px;
}
.r_span>i{
    font-style:normal;color:#008e8e;
}
.move_a>img{
    float: left;
    margin: 15px 22px;
}
.Dan_x{width:90%;height:50%;float:left;margin:5px 0px 0px 5%;overflow-x: hidden;overflow-y: scroll; }
.Dan_x::-webkit-scrollbar {
    display: none;
}
.Dan_x span{width:100%;height:35px;float:left;border-bottom: 1px solid #ccc}
.Dan_x input{float:left;margin:11px 5% 0px 5% !important;; }
.Dan_x p{width:50%;height:100%;float: left;line-height: 35px;}


/*地图*/
.radio{width: 550px;height:70px;position: absolute;top:2%; right:1.5%}
.radio_a{width:100%;height:100%;float:left;background: #fff; opacity: 0.7;}
.radio_b{width:100%;height:100%;position: absolute;z-index: 2;}
.radio_b div{width:30px;height:30px;border-radius: 50%;border:1px solid rgba(24, 144, 255, 1);text-align: center;line-height: 30px;margin:4% 0px 0px 3%;float:left;}
.radio_b p{width:15px ;height:15px;background: rgba(24, 144, 255, 1);border-radius: 50%;display: block;margin:6.1px 0px 0px 6.1px;}
.radio_b span{width:auto;height:100%;float:left;line-height: 70px;font-size:16px;text-indent: 7px;color:rgba(24, 144, 255, 1)}
.pan_m{padding: 6px 14px !important;float:right;margin:3% 4% 0px 0px !important;}
.zheng{border:1px solid rgba(26, 188, 156, 1) !important;}
.zheng>p{background: rgba(26, 188, 156, 1)}
.zheng_a{color:rgba(26, 188, 156, 1) !important;}
.bao{border:1px solid #FF9933 !important;}
.bao>p{background: #FF9933}
.bao_a{color:#FF9933 !important;}
.gu{border:1px solid #FF3300 !important;}
.gu>p{background: #FF3300}
.gu_a{color:#FF3300 !important;}
.li{border:1px solid #333333 !important;}
.li>p{background: #333333}
.li_a{color:#333333 !important;}
.clicka{background: 0 !important;}

.navigation{width:360px;height:70%; position: absolute;top:25%;left:2%;}
.nav_t{width:100%;height:15%; background: #fff; opacity: 0.8;float:left;}
.nav_n{width:100%;height:82%;background: #fff; opacity: 0.8;float:left;margin-top:5%;}
.nav_n_a{width:100%;height:82%; position: absolute;bottom: 0;overflow-x: hidden;overflow-y: scroll; }
.nav_n_a::-webkit-scrollbar {
    display: none;
}
.nav_a{width:100%;height:auto;float:left;list-style:none;margin:0;padding:0;}
.nav_a>li{width:90%;height:auto;float:left;margin-left:5%;list-style:none; }
.nav_pro_v,.nav_pro_v_b{width:100%;height:40px;border-bottom:1px dashed #ccc;cursor: pointer;float:left;}
.nav_project{width:40%;height:100%;float:left;line-height: 40px;font-size:16px;font-weight: bold;margin-right:6%;}
.nav_pro_p,.nav_pro_s{width:auto;height:100%;line-height: 40px;font-size:13px;display: block;float:left;}
.nav_pro_s{float:right;margin-right:3%;}
.nav_gro,.nav_gro_b{width:100%;height:auto;float:left;margin:0;padding: 0;}
.pro_li_a{width: 100%;margin: 0;list-style:none;}
.nav_pro_fen,.nav_pro_she{width:40%;margin-right:6%;font-size:14px;text-indent:8px;}
.nav_pro_she{font-weight: 500;font-size: 13px;text-indent:15px;}
/*地图侧边抽屉*/
.drawer{width:40%;height:76%;position: absolute;right:-38%;bottom:0%; transition: all 1.5s ease-in;z-index: 9;}
.drawer_hid{transition: all 1.5s ease-in;right: 0;}

.drawer_right{width:5%;height:100%;float:left;}
.drawer_img,.drawer_img_a{width:25px;height:45px;margin-top:745%;float:right;cursor: pointer;margin-right:10%;}
.drawer_img_a{margin: 5px 0px 0px 0px;height:30px;}
.drawer_left{width:95%;height:100%;float: left;background: #fff;}
.drawe_S{width:100%;height:15%;float:left;}
.drawe_S ul{width:100%;height:100%;float:left;list-style:none;margin: 0;padding: 0;}
.drawe_S ul li{width:24.9%;height:100%;float:left;border-right:1px dashed #ccc;list-style:none}
.drawe_S ul li div{width:100%;height:50%;float:left;line-height: 70px;text-align: center;font-size:22px;font-weight: bold}
.drawe_S ul li img{width:35%;height:30%;float:left;margin:4% 0px 0px 5%;}
.drawe_S ul li span{width:50%;float:left;height:50%;line-height: 40px;text-align: center}

.convention{width:100%;height:21%;float:left;}
.con_span{width:100%;height:30px;text-indent: 10px;line-height:30px;background:#ccc;display: block;}
.con_an{width:50%;float:left;height:50px;border-bottom: 1px solid #ccc;}
.con_an_span{width:79px;height:100%;float: left;margin-left:10px;line-height:50px;}
.con_an_a{width:90%;height:70px;border-top:1px solid #ccc;left:5%;text-align: center;position: absolute;bottom: 0;}
.con_an_a input{width:70px;height:30px;background: rgba(24, 144, 255, 1); color:#fff;font-size:14px;border:0;border-radius: 4px;margin-top:20px;}
.form_con_an{width:60%;height:100%;float:left;line-height:57px;}
.con_Xu ul,.con_Gu ul{width:100%;height:50%;float:left;margin:4% 0px 0px 0%;padding: 0;}
.con_Xu ul li,.con_Gu li{width:33%;height:100%;float:left;border-right:1px dashed #999;}
.con_Gu li{width:24.8%}
.con_Xu ul img,.con_Gu ul img{float:left;width:22px;height:22px;margin:5% 0px 0px 24%;}
.con_Gu ul img{margin-left:10%;}
.con_Xu ul span,.con_Gu ul span{width:auto;height:auto;float:left;margin:7% 0px 0px 2%;color:#999;font-size:14px;}
.con_Xu ul p,.con_Gu ul p{width:100%;height:auto;float:left;font-size: 17px;color:#999;text-align: center;margin-top:2%;}
.dra_spa,.dra_p{width:auto;height:auto;float:left;margin:1% 0px 0px 3%;}
.dra_p{margin:0% 0px 0px 0px;font-size:16px;}

/*进度条*/
/*.scroll{width: 60%;height: 5px;background: #ccc;position: relative;top: 45%;left: 20%;}*/
/*.bar{width: 15px;height:15px;background: #369;border-radius:50%;position: absolute;top: -5px;left: 0;cursor: pointer;}*/
/*.mask{position: absolute;left: 0;top: 0;background: #369;width: 0;height: 5px;}*/
/*.pa{width:auto;height:auto;position: relative;left: 50%;top:25%;margin:0;padding: 0;}*/
.demo-slider{border:0;box-shadow: 0 0 0 #fff;height:auto;}


/*丸子*/

.progres{
    width: 24%;
    float: left;
    margin-top: 18px;
    margin-left: 5%;
}



/*丸子*/









.pro_list{width:94%;height:68%;float:left;margin:3% 0px 0px 3%;overflow-x: hidden;overflow-y: scroll;}
.pro_list::-webkit-scrollbar {
    display: none;
}
.facility{width:100%;height: 45px;border-bottom:1px dashed #ccc;float:left; }
.facility span{width:15%;height:100%;line-height: 45px;text-indent: 10px;font-size:14px;color:#333;float: left}
.facility div{width:55%;height:100%;line-height: 45px;margin:0px 3% ;float: left;color:#ccc;}
.facility p{width:24%;height:100%;line-height: 45px;float: left;color:#ccc;}
/*项目管理顶部*/
.hear>p{width: auto;height:100%;float: left;line-height: 60px}
.p{margin:0;text-indent: 0;}


/*账户修改----任美玲*/
#preview {display: inline-block;width: 50px;height:50px;margin-right: 20px;background-repeat: no-repeat;background-size: cover;vertical-align:center;}
#file {width: 80px;height: 32px;opacity: 0;position: absolute;left: 172px;top: 0;cursor: pointer;z-index: 5;}
.sha_span i{font-style:normal; width: 80px; height: 32px;border:1px solid #ccc;line-height: 32px;text-align: center;border-radius: 4px;}
.sha_span{position: relative; display:flex; align-items: center;}

#previewr {display: inline-block;width: 50px;height:50px;margin-right: 20px;background-repeat: no-repeat;background-size: cover;vertical-align:center;}
#filer {width: 80px;height: 32px;opacity: 0;position: absolute;left: 172px;top: 0;cursor: pointer;z-index: 5;}


/*我要反馈*/
/*.project_he{width:100%;height:11.5%;float:left;border-bottom: 10px solid rgba(242, 242, 242, 1);}*/


/*选项卡*/
.opti_a{display: block !important;}
.option_a{width:100%;height:80%;float:left;}
.option_b{height:89.9% !important;}
.option{width:100%;height:82%;display:none;float:left; overflow: hidden;overflow-y: auto; }
.option::-webkit-scrollbar {
    display: none;
}
.r_llis ,.r_op{height:100%;}
.r_op>ul,.r_llis>ul{height:91% !important; }
/*.r_op>ul::-webkit-scrollbar,.r_llis>ul::-webkit-scrollbar {*/
/*display: none;*/
/*}*/
.tab {width:100%;height:82px;float:left;margin:0;padding:0;list-style:none;overflow:hidden;border-bottom: 10px solid rgba(242, 242, 242, 1);background: #ffffff;}
.tab li {float:left;width:6%;height:50%;color:#666;font-size:14px;text-align:center;line-height:30px;cursor:pointer;margin:1.1% 0px 0px 2%;}
.on {display:block;}
.tab li.cur {border-bottom: 2px solid rgba(24, 144, 255, 1);}
.Shu_r{width:100%;height:18%;float:left;border-bottom: 10px solid rgba(242, 242, 242, 1);}

.option ul{
    display: inline-block;
    width:100% ;
    /*height: auto;*/
    background: #ffffff;
    padding:0 40px;
}

.option ul li{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    padding: 20px 0;

}
.option ul li>img{
    display: inline-block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;

}
.option ul li>p{
    display: inline-block;
    width: 76%;
    float: left;
}
.option ul li>p>span{
    width: 100%;
    display: inline-block;
    line-height: 32px;
}
.option ul li>span{
    float: right;
}
.option ul li>div{
    float: right;
    width: 12%;
}
.option ul li>div span:last-child{
    width:87px;
    height: 44px;
    border:1px solid #00acd6;
    line-height: 44px;
    text-align: center;
    border-radius: 29px;
    display: block;
    margin-left: 49px;
    margin-top: 17px;
}

.r_list{
    margin: 21px;
    float: left;
    width: 92%;
    font-size: 14px;
}
.r_list>img{
    display: inline-block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
}
.r_list>div{
    width: 72%;
    float: left;
    padding: 10px 0;
}
.r_list>div>span {
    line-height: 26px;
    display: block;
}


.shade_b_project_r>p{
    padding: 0 96px;
    line-height: 34px;
    float: left;
    font-size: 14px;
    width: 100%;
}
.shade_b_project_r>span{
    font-size: 14px;
    line-height:28px;
    display: block;
    margin: 0 96px;
    float: left;
    width: 100%;
}


.shade_b_project_r>span>i{
    font-style:normal
}



.shade_b_project_r{width:600px;height:380px; position: absolute; z-index: 99999;top:50%;left:50%;margin:-190px 0px 0px -300px;background: #fff;display: none;;}



/*样式修改*/

.callPoliceCount{
    color: #FFA41F;
}


.project_he>a{
    text-decoration: none;
    width: 7%;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    margin-top: 26px;
    margin-left:1%;
    font-size: 15px;
    vertical-align: middle;
    color: #008E8E !important;
}

#proje_search>img{
    display: inline-block;
    width: 23px;
    height: 22px;
    margin-top: -2px;
}
/*.rcxc{*/
    /*margin-top: -4px;*/
/*}*/
#proje_add>img{
    display: inline-block;
    width: 23px;
    height: 22px;
}

#pandect>img{
    display: inline-block;
    width: 23px;
    height: 22px;
}
#proje_search{
    background: url('${request.contextPath}/statics/image/kuang-3.png')no-repeat center ;
    background-size: 100% 34px !important ;
    /*width: 7%;*/
    /*height: 45px;*/
    /*display: inline-block;*/
    /*line-height: 45px;*/
    /*text-align: center;*/
    /*margin-top: 23px;*/
    /*margin-left: 30px;*/
    /*font-size: 14px;*/
}
.main-sidebar,.main-sidebar_m {
    background: url("/remote-admin/statics/image/qietuimg_01.gif")no-repeat center!important;
    background-size:100% 34px !important;
}
.r_bu_sou1 img{
    display: inline-block;
}

.project_he>a:hover{
    background: url('/remote-admin/statics/image/fenzu-1.png')no-repeat center !important;
    background-size:100% 34px !important;

}
.project_he>a{
    background: url('/remote-admin/statics/image/sousuo-1.png')no-repeat center !important;
    background-size:100% 34px !important;

}
.project_he>a{
    background: url('/remote-admin/statics/image/sousuo-1.png') !important;
    background-size: 100% 34px !important ;

}

/*#proje_search{*/
/*background: url('/remote-admin/statics/image/sousuo-1.png')!important;*/
/*background-size: 100% !important;*/
/*}*/
/*.btn_m_new{*/
/*background: url('/remote-admin/statics/image/sousuo-1.png')!important;*/
/*background-size: 100% !important;*/
/*}*/
/*.project_he>a:hover{*/
/*background: url('/remote-admin/statics/image/fenzu-1.png')!important;*/
/*background-size: 100% !important;*/
/*}*/


.r_chakan{
    display: inline-block;background: #27E2D4;width:70px ;height:29px;border-radius: 11px;color: #ffffff;line-height: 29px;'><i style='font-style:normal
}
.r_chakan_img{
    margin-left: 8px;display: inline-block;width: 13px;height: 13px;
}
.content_Y,.hear{
    background:#ffffff !important;
}
.r_xiugai_six_tu{
    width: 25px;
    height: 130px;
    float: left;
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    background: url("/remote-admin/statics/image/r_zhengchangsiz.png");
    text-align: center;
    line-height:27px;
    color: #ffffff;
}

.hear_city>div{
    float: left;
    margin-left: 10%;
    width: 128%;
}
.hear_city>div:nth-child(2){
    margin-top: 5px;
}
.r_sox_ioc{
    display: inline-block;float: left;margin-top: -9px;
}
.r_sdx_box{float: left;width: 78%;margin-left: 10%;margin-top: 5px;}
.r_scx_img{display: inline-block;width: 20px;height:20px;float: left;margin-top: -5px;" id="img}
.r_yun_sx{display: inline-block;width: 20px;height:20px;float: left;margin-top: -5px;}

.r_top_fon{
    line-height: 34px !important;
}

.r_erkongzhi{
    width:20px ;
    height: 20px;
    display: inline-block;
}
.xinhao{
    display: inline-block;
    width: 46px;height: 39px
}


@media screen and (min-width:800px) and (max-width:1300px){

        .gross {
            width: 10%;
            height: 59%;
            float: left;
            border-radius: 5px;
            overflow: hidden;
            margin: 3.7% 0.5% 0px 0px;
            position: relative;
        }
        .gross>img{
            width: 68px;
            height: 68px;
        }
        .gross span{
            font-size: 12px;
            /*margin: 0;*/
            /*float: unset;*/
            /*line-height: 0;*/
        }
        .gross div{
            top: -3%;
            left: 90%;
            font-size: 14px;
        }
    .hear_project{
        font-size: 16px;
    }
    .hear_city{
        font-size: 12px;
    }
    .hear_weather{
        width: 245px;
    }

    .hear_w{
        font-size: 12px;
        margin-left: 0.5%;
    }
    .form_input{
        width: 6% !important;
        height: auto;
    }
    .form-control{
        font-size: 12px;
    }
    .project_he > a{
        width: 8%;
        font-size: 12px;
        margin-left: 0.5%;
    }

    #proje_search{
        font-size: 12px;
    }
    .table_m ul li{
        font-size: 12px;
    }
    .table_m_Z table tr td, .table_m_Z ul li {
        width: 8.2% !important;
    }
    .switch {
        width: 76%;
        margin: 0px 0px 0 10%;
    }

    .table_m table tr td {
        width: 9.611%;
    }

    .table_m ul li {
        width: 9.611%;
    }

    /*.table_m table tr td:last-child {*/
        /*width: 15.111%;*/
    /*}*/





    }


/*@media screen and (min-width:1000px){*/

    /*.gross {*/
        /*width: 10%;*/
        /*height: 59%;*/
        /*float: left;*/
        /*border-radius: 5px;*/
        /*overflow: hidden;*/
        /*margin: 3.7% 0.5% 0px 0px;*/
        /*position: relative;*/
    /*}*/
    /*.gross>img{*/
        /*width: 100%;*/
        /*height: 89%;*/
    /*}*/
    /*.gross span{*/
        /*font-size: 12px;*/
        /*margin: 0;*/
        /*float: unset;*/
        /*line-height: 0;*/
    /*}*/
    /*.gross div{*/
        /*top: 20%;*/
        /*left: 90%;*/
        /*font-size: 14px;*/
    /*}*/


/*}*/





