/*index页面项目更改样式*/
/*创建人：马振超*/
.body_m{background-color: rgba(242, 242, 242, 1) !important;}
.wrapper_w{background:#fff !important;}
/*侧边栏样式*/
.logo_m{background-color:#0ECCC2 !important; height:60px !important;}
.main-sidebar_m{background: url('/remote-admin/statics/image/rbeijingsix.png')!important;padding-top:60px;}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{background: url('/remote-admin/statics/image/rbeijingsix.png')!important;}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{background:rgba(0, 0, 0, 0);}
/*头部*/
.navbar_m{background:#fff !important;color:#000 !important;}
/*表格样式*/
.content_Y{padding:20px 30px 0px 30px;background: #F7F8FA;}
/*引入页面*/
.con_tent{background:#fff; padding: 0px !important;}
.if_rame_m{width:100%;min-height:200px;overflow:visible;}

/*头部*/
.setting{width:100%;height:70px;background: #fff; position: absolute;box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.35); display: none;}
.setting span{width:100%;height: 34px;text-align: center;line-height: 34px;float:left;cursor: pointer}
.setting span:hover{background: #999;color: #fff;}
#nav_a:hover .setting{display: block}

/*基本弹窗*/
.JI_b,.JI_b_a{width:100%;height:100%;position:absolute;z-index: 22222 ;top:0 ; display: none;}
.shade,.shade_a{width:100%;height:100%;background: #666; opacity: 0.3;}
.nei_r,.nei_r_a{width:700px;height:600px; background:#fff;position: absolute;z-index: 222222;top:50%;left:50%;margin:-300px 0px 0px -350px;border-radius: 5px;}
.nei_r_a{width:500px;margin-left:-250px;}
.nei_r img{background: #ccc;width:100px;height:100px;border-radius: 50%;float:left;margin:5% 0px 0px 300px;}
.import{width:85%;height:auto;float:left;margin:4% 0px 0px 6%;}
.import div{width:45%;height:60px;float:left;margin:3% 0px 0px 5%;}
.import div span{width:100%;height:27px;float:left; font-weight: 500;color:#000 !important;}
.import div input,.import div select{width:95%;height:28px;border-radius: 4px;overflow: hidden;background: 0;border:1px solid #ccc;float:left;text-indent: 5px;}
.ea_b{width: 57% !important;}
.ea_a{width:35% !important; border:1px solid #1890FF !important;color:#1890FF;margin-left:3%;}
.confirm{width:100%;height:60px; position: absolute;bottom: 0;border-top:1px solid #ccc;}
.confirm input{width:80px;height:30px;border-radius: 4px; background:#1890FF;margin:2.5% 4% 0px 0px;float:right;border:0;color: #fff; }
.J_fan{width:100%;height:45px;border-bottom: 1px solid #ccc;line-height:45px;text-indent: 15px;font-weight: bold;background: #27E2D4;text-align: center}
.wrong,.wrong_a{float:right;margin:3% 2% 0px 0px; cursor: pointer;}
.wrong_a{margin-top:2%;}
.import_a{margin:5% 0px 0px 8%;}
.import_a div{width: 100%;margin-left:0;margin-top:5%;}
.import_a div input{width: 98%;}



/*我要反馈*/
.mistake{width:90%;height:30px !important;border-radius: 5px;border:1px solid red;float:left;margin:3% 0px 0px 5%;text-indent: 10px;line-height: 30px;display: none;}
.mistake span:first-child{
    display: inline-block;
    width: 20px !important;
    float: left;
    margin-top: 7px;}
.mistake span:last-child{
    display: inline-block;
    width: 20px !important;
    float: right;
    margin-top: 7px;}
.mistake p{
    display: inline-block;
    float: left;
    width:300px;
    line-height:30px}

/*丸子弹窗*/
.r_lay,.r_lay_a{
    width:316px;
    height:150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -75px;
    margin-left:-157.5px;
    background: blue;
    z-index: 999999;
    font-size: 14px;
    padding: 30px;
    display: none;
}
.r_lay>div>span,.r_lay_a>div>span{
    float: right;
    border:1px solid #ccc;
    padding: 2px 5px;
    border-radius: 4px;
}
.r_lay>div,.r_lay_a>div{
    height: 30px;
}
.r_lay>button,.r_lay_a>button{
    float: right;
    margin-top: 20px;
}
#btn,#r_btee{
    float: right;
    border:1px solid #ccc;
    padding: 2px 5px;
    border-radius: 4px;
}




/*修改*/

.r_touling{
    width: 20px;height: 20px;border-radius: 50%;background: #ccc;vertical-align: middle;display: inline-block;margin-right: 5px;
}



.r_ioc{
    background: url('/remote-admin/statics/image/bianji.svg');
    display: block;
    width: 20px;
    height: 20px;
    background-size: 100%;
}





.rquebei{
    background: url('/remote-admin/statics/image/sousuo-1.png')no-repeat center;
    width: 99px;
    height: 45px;
    float: left;
    line-height: 45px;
    text-align: center;
    background-size: 100%;
    margin-left: 30%;
}
.rqubtn{
    background: url('/remote-admin/statics/image/sousuo-1.png')no-repeat center;
    width: 99px;
    height: 45px;
    float: left;
    line-height: 45px;
    text-align: center;
    background-size: 100%;
    margin-left: 10%;
}
.rqubtn:hover{
    background: url('/remote-admin/statics/image/fenzu-1.png')no-repeat center;
    background-size:100%  !important;
}
.rquebei:hover{
    background: url('/remote-admin/statics/image/fenzu-1.png')no-repeat center;
    background-size:100% !important;
}
.rquebeis{
    background: url('/remote-admin/statics/image/sousuo-1.png')no-repeat center;
    width: 99px;
    height: 45px;
    float: left;
    line-height: 45px;
    text-align: center;
    background-size: 100%;
    margin-left: 42%;
}
.rquebeis:hover{
    background: url('/remote-admin/statics/image/fenzu-1.png')no-repeat center;
    background-size:100% !important;
}








