/*index页面项目更改样式*/
/*创建人：马振超*/
.body_m{background-color: rgba(242, 242, 242, 1) !important;}
.wrapper_w{background:#fff !important;}
/*侧边栏样式*/
.logo_m{background-color: rgba(0, 40, 77, 1) !important; height:60px !important;}
.main-sidebar_m{background-color: rgba(0, 21, 41, 1) !important;padding-top:60px;}
/*头部*/
.navbar_m{background:#fff !important;color:#000 !important;}
/*表格样式*/
.content_Y{padding:20px 30px 0px 30px;background: rgba(242, 242, 242, 1);}
/*引入页面*/
.con_tent{background:#fff; padding: 0px !important;}
.if_rame_m{width:100%;min-height:200px;overflow:visible;}












