<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智控物联</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--头部logo-->
    <link rel="shortcut icon" href="http://pic.nipic.com/2007-11-20/20071120204328625_2.jpg">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/css.css">

</head>
<body>
<div class="hear">
    当前项目>项目管理
</div>
<div class="project_he" >

</div>
<div class="table_a">

</div>




</body>
</html>