<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>光迅物联</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!--头部logo-->
    <link rel="shortcut icon" href="${request.contextPath}/statics/image/GXah.png">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/pandect.css">

    <!--<script type="text/javascript" src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=H7Apgj0jSA8WFUOyKZyL20MgZmjfHz7V"></script>-->
    <!--echarts-->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <!--引入插件-->
    <script src="${request.contextPath}/statics/js/china.js"></script>
    <script src="${request.contextPath}/statics/js/world.js"></script>
</head>
<body>
    <div class="hear">
        <h2>平台总览</h2>
    </div>
    <!--地图-->
    <div class="app">
        <!--<div id="allmap">地图</div>-->
        <div id="main" style="width: 100%;height:800px;"></div>
        <div class="r_zonlam_l">
            <div>
                <p>
                    <img src="${request.contextPath}/statics/image/ludengshu.png" alt="" >
                    <i>路灯数</i>
                    <span class="r_dengshu">0</span>
                </p>
                <p>
                    <img src="${request.contextPath}/statics/image/wangguanshu.png" alt="">
                    <i>网管数</i>
                    <span class="r_wangshu">0</span>
                </p>
            </div>
            <div class="r_tongjitu">
                <div id="pieDiagram" class="floatLeft" style="height:101px;width:101px;"></div>
            </div>
        </div>
        <div class="r_jindu">
            <div>
                <p>照明面积</p>
                <div id="jindu"></div>
                <span><i id="enum">93.1117</i>m²</span>
            </div>
            <div>
                <p>降低碳排放量</p>
                <div id="r_jinmian"></div>
                <span><i id="rtan"></i>km</span>
            </div>
        </div>
        <div class="r_right">
            <span>设备分布：</span>
            <span><i class="r_lu"></i>路灯</span>
            <span><i class="r_guan"></i>网关</span>
        </div>
<!--        降水量-->
        <div class="r_rchers_l" id="r_rchers_l"></div>
<!--      冲放电量-->
        <div class="r_rchers_e" id="r_rchers_e"></div>
    </div>
</body>
<script>
    document.write('<script src="${request.contextPath}/statics/js/modules/pandect/pandect.js?v='+Math.random()+'"><\/script>');
</script>

<script type="text/javascript">

</script>
</html>