<!DOCTYPE html>
<html>
<head>
    <title>賬戶管理</title>
    <#include "/header.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/css/jquery_page.css">
        <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
        <link rel="stylesheet" href="${request.contextPath}/statics/css/css.css">
        <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
        <script src="${request.contextPath}/statics/js/modules/project/jquery_page.js"></script>
        <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
    <style>
        html{ overflow: hidden}
        .project_he>a{line-height: 33px;}
        .pun-a{margin-left:20% ;}
    </style>
</head>
<body>
<div class="hear">
    <img src="${request.contextPath}/statics/image/dingwei.png" alt="">账户管理
</div>
<div class="project_he" >
    <span class="hear_w">账号ID：</span>
    <div class="form-group col-sm-2 form_input">
        <input type="text" class="form-control" id="acc_id"  placeholder=" ">
    </div>
    <span class="hear_w">账号：</span>
    <div class="form-group col-sm-2 form_input">
        <input type="text" class="form-control" id="acc_hao"  placeholder=" ">
    </div>
    <span class="hear_w">用户：</span>
    <div class="form-group col-sm-2 form_input">
        <input type="text" class="form-control"  id="acc_name"  placeholder=" ">
    </div>
    <span class="hear_w">用户状态：</span>
    <div class="form-group col-sm-2 form_input">
        <select class="form-control" id="sele_ht">
            <option></option>
            <option class="1">开</option>
            <option class="0">关</option>
        </select>
    </div>
    <a class="btn btn-primary btn_m gl_bt" id="proje_search"><img src="${request.contextPath}/statics/image/r_ssousuo.png" alt="">搜索</a>
    <!--删除的样式<i class="glyphicon glyphicon-search gl_fu"></i>-->
    <a class="btn btn-primary btn_m btn_m_new" style="line-height: 38px;"><img src="${request.contextPath}/statics/image/tianjia.png" alt="" style="margin-top:-5%;" class="rcxc">新建</a>
    <!--删除的样式<i class="fa fa-plus"></i>-->
</div>

<div class="table_m table_m_Z">
    <ul>
        <li>账号ID</li>
        <li>账号</li>
        <li>用户名</li>
        <li>项目数</li>
        <li>设备数</li>
        <li>创建时间</li>
        <li>有效期</li>
        <li>账号状态</li>
        <li>用户状态</li>
        <li>绑定手机</li>
        <li>绑定邮箱</li>
        <li>操作</li>
    </ul>
    <table border="1"  id="div">

    </table>
</div>
<div class="box">
    <div id="pagination3" class="page fl"></div>
</div>


<!--新建账户-->
<div class="shade_new">
    <div class="shade_a_new" ></div>
    <div class="shade_b_new">
        <div class="Bian_j">新建账户<span class="glyphicon glyphicon-remove guan_shb" ></span></div>
        <div class="mistake">
            <span class="glyphicon glyphicon-pencil cu_m"></span>
            <p class="rrbol"></p>
            <span class="glyphicon glyphicon-remove wrong"></span>
        </div>
        <span class="sha_span">
            <p> <span  style="color: red">*</span>账号：</p>
            <input type="text" placeholder="请填写" id="acc_number">
        </span>
        <span class="sha_span">
            <p> <span  style="color: red">*</span>用户名：</p>
            <input type="text" placeholder="请填写" id="acc_user">
        </span>
        <span class="sha_span">
            <p><span  style="color: red" >*</span>密码：</p>
            <input type="text" placeholder="请填写" id="acc_password">
        </span>
        <span class="sha_span">
            <p class="r_p" style="width: 27%;"><span  style="color: red">*</span>有效期：</p>
            <div class="form-group col-sm-2 " style="width:169px;padding-left:0;padding-right:0;margin-top:6%;">
                <select class="form-control" id="acc_select" style="height: 40px;">
                    <option class="1">1年</option>
                    <option class="2">2年</option>
                    <option class="3">3年</option>
                    <option class="4">4年</option>
                    <option class="5">5年</option>
                    <option class="6">永久</option>
                </select>
            </div>
        </span>
        <span class="sha_span">
            <p><span  style="color: red">*</span>邮箱：</p>
            <input type="text" placeholder="请填写" id="acc_mailbox">
        </span>
        <span class="sha_span">
            <p><span  style="color: red">*</span>手机号：</p>
            <input type="text" placeholder="请填写" id="acc_call">
        </span>
        <span class="sha_span">
            <p class="r_p" style="width: 27%;"><span  style="color: red">*</span>角色：</p>
            <div class="form-group col-sm-2 " style="width:169px;padding-left:0;padding-right:0;margin-top:6%;">
                <select class="form-control" id="role" style="height: 40px">
<!--                    <option value="1">超级管理者</option>-->
                    <option value="2">管理者</option>
                    <option value="3">使用者</option>
                </select>
            </div>
        </span>
        <span class="sha_span preview">
            <p style="width:28%;text-align: left;text-indent:1.85em;"><span  style="color: red">*</span>头像：</p>
            <img id="pic" src="">
             <a class="btn btn-primary" id="upload" >上传文件</a>
            <input id="headUrl" type="hidden">
        </span>
        <div class="sha_buttom">
            <div id="confirm_Z" class="rquebei" style="margin-left: 28%;">确定</div>
            <div  class="sha_cancel_new rqubtn" >取消</div>
        </div>
    </div>
</div>
<!--账户修改-->
<div class="shade">
    <div class="shade_a" id="shade_a"></div>
    <div class="shade_b">
        <div class="Bian_j">编辑账户<span class="glyphicon glyphicon-remove guan_shc" ></span></div>
        <div class="mistake">
            <span class="glyphicon glyphicon-pencil cu_m"></span>
            <P class="rrbol"></P>
            <span class="glyphicon glyphicon-remove wrong"></span>
        </div>
        <span class="sha_span">
            <p> <span  style="color: red">*</span>账号：</p>
            <input type="text" placeholder="请填写" id="acc_number_b">
        </span>
        <span class="sha_span">
            <p> <span  style="color: red">*</span>用户名：</p>
            <input type="text" placeholder="请填写" id="acc_user_b">
        </span>
        <span class="sha_span">
            <p ><span  style="color: red" ></span>密码：</p>
            <input type="text" placeholder="请填写" id="acc_password_b">
        </span>
        <span class="sha_span">
            <p class="r_p" style="width: 27%;"><span  style="color: red">*</span>有效期：</p>
            <div class="form-group col-sm-2 " style="width:169px;padding-left:0;padding-right:0;margin-top:5%;">
                <select class="form-control" id="acc_select_b" style="height: 40px">
                    <option class="1">1年</option>
                    <option class="2">2年</option>
                    <option class="3">3年</option>
                    <option class="4">4年</option>
                    <option class="5">5年</option>
                    <option class="6">永久</option>
                </select>
            </div>
        </span>
        <span class="sha_span">
            <p><span  style="color: red">*</span>邮箱：</p>
            <input type="text" placeholder="请填写" id="acc_mailbox_b">
        </span>
        <span class="sha_span">
            <p><span  style="color: red">*</span>手机号：</p>
            <input type="text" placeholder="请填写" id="acc_call_b">
        </span>
        <span class="sha_span">
            <p class="r_p" style="width: 27%;"><span  style="color: red;">*</span>角色：</p>
            <div class="form-group col-sm-2 " style="width:169px;padding-left:0;padding-right:0;margin-top:5%;">
                <select class="form-control" id="r_Ad_mod" style="height: 40px;">
<!--                    <option value="2">超级管理者</option>-->
                    <option value="1">管理者</option>
                    <option value="0">使用者</option>
                </select>
            </div>
        </span>
        <span class="sha_span preview">
            <p style="width:28%;text-align: left;text-indent: 1.85em;"><span  style="color: red">*</span>头像：</p>
            <img id="pice" src="">
             <a class="btn btn-primary" id="uploade">上传文件</a>
            <input id="headUrle"  type="hidden">
        </span>
        <div class="sha_buttom">
            <div id="sha_que_can" class="rquebei" >确定</div>
            <div  class="sha_cancel rqubtn"  >取消</div>
        </div>
    </div>
</div>

<!--删除-->
<div class="shade_delete">
    <div class="shade_a_delete" ></div>
    <div class="shade_b_delete">
        <div class="Bian_j_delete">温馨提示<span class="glyphicon glyphicon-remove guan_sha" ></span></div>
        <span class="delete_sp">确定删除？</span>
        <div class="sha_buttom_delete">
            <div class="rquebei sha_que_delete pun-a" >确定</div>
            <div class="sha_cancel_newa rqubtn " >取消</div>
        </div>
    </div>
</div>
<script>
    document.write('<script src="${request.contextPath}/statics/js/modules/account/account.js?v='+Math.random()+'"><\/script>');
    document.write('<script src="${request.contextPath}/statics/js/regular.js?v='+Math.random()+'"><\/script>');
</script>
</body>
</html>