<!DOCTYPE html>
<html>
<head>
    <title>分组</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/css.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/jquery_page.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="${request.contextPath}/statics/js/modules/project/jquery_page.js"></script>
    <link rel="stylesheet" href="${request.contextPath}/statics/css/layui.css">
    <script src="${request.contextPath}/statics/js/layui.js"></script>
    <script type="text/javascript">
        document.documentElement.style.fontSize = innerWidth / 16 + 'px';
        onresize = function () {
            document.documentElement.style.fontSize = innerWidth / 16 + 'px';
        }
    </script>
</head>
<style>
    .table_m table tr td a{margin-left:8%;}
    .table_grouping table tr td, .table_grouping ul li{width: 7%;}
    .shade_b_project{height: 360px;}
    .form-control{height:35px;}
    .form-group {margin-bottom: 0px;}
    #se_fora option{width:100%;}
    @media screen and (min-width:800px) and (max-width:1400px) {
        .table_m{max-height:36%;}
    }
    .box{margin-top:0.5%}
    @media screen and (max-width:1100px) {
        /*.table_m_Z{width:800px;overflow-x:scroll}*/
        body{
            overflow-x:scroll;
        }
        .table_m{
            width: 959px;
        }
        .project_he{
            width: 959px;
        }
        .hear{
            width: 959px;
        }

    }
</style>

<body style="position: relative">
    <!--分组天气-->
    <div class="hear weather" style="padding: 0;">
        <!--天气-->
        <div class="r_xiugai_six_tu" id="r_xiugai_six_tu"></div>
        <div class="hear_weather">

           <div class="hear_project" id="hear_project"></div>
           <div class="hear_city hear_city_a" style="margin-top:5px;">
              <div>
                  <img src="${request.contextPath}/statics/image/rdiquz.png" alt="" style="margin-top:-3px;" class="r_sox_ioc">
                  <span>所属城市：</span>
                  <p id="weather" style="margin-right:5%"></p>
              </div>
             <div>
                 <img src="${request.contextPath}/statics/image/tianqi.png" alt="" class="r_sox_ioc">
                 <span>天气信息：</span>
                 <img src=""  id="img" class="r_yun_sx" style="margin-top:-4px;">
                 <p id="T_an"> </p>
             </div>
           </div>
           <div class="hear_city hear_city_b r_sdx_box" >
               <img src="${request.contextPath}/statics/image/yonghu.png" alt="" class="r_sox_ioc">
               <span>用户：</span>
               <p id="hear_city_b"></p>
           </div>
        </div>
        <!-- 总量-->
        <div class="gross gross_a">
            <img src="${request.contextPath}/statics/image/zongzhuangjishuliang.png" class="gross_alarm"/>
            <span>总装机数量</span>
            <div id="sumCount">0</div>
            <!--<img src="${request.contextPath}/statics/image/map.svg" class="gross_map"/>-->
        </div>
        <div class="gross gross_b">
            <img src="${request.contextPath}/statics/image/wangguan.png" class="gross_alarm"/>
            <span>网关数量</span>
            <div id="gatewayCount">0</div>
            <!--<img src="${request.contextPath}/statics/image/map.svg" class="gross_map"/>-->
        </div>
        <div class="gross gross_c">
            <img src="${request.contextPath}/statics/image/guzhang.png" class="gross_alarm"/>
            <span>故障数量</span>
            <div id="faultCount">0</div>
            <!--<img src="${request.contextPath}/statics/image/map.svg" class="gross_map"/>-->
        </div>
        <div class="gross gross_d">
            <img src="${request.contextPath}/statics/image/baojing.png" class="gross_alarm"/>
            <span>报警数量</span>
            <div id="callPoliceCount">0</div>
            <!--<img src="${request.contextPath}/statics/image/map.svg" class="gross_map"/>-->
        </div>

      <div style="float: right;width: 15%" class="r_rdi">
          <div class="hear_map" id="hear_map" ><img src="${request.contextPath}/statics/image/r_sxditu.png" alt="">地图</div>
      </div>

    </div>

    <div class="project_he" >
        <span class="hear_w">设备编号：</span>
        <div class="form-group col-sm-2 form_input">
            <input type="text" class="form-control" id="Se_id"  placeholder=" ">
        </div>
        <span class="hear_w">设备名称：</span>
        <div class="form-group col-sm-2 form_input">
            <input type="text" class="form-control" id="Se_name"  placeholder=" ">
        </div>
        <span class="hear_w">设备分组：</span>
        <div class="form-group col-sm-2 form_input">
            <input type="text" class="form-control" id="se_for"  placeholder=" ">
            <!--<select class="form-control" id="se_for">-->
                <!--<option></option>-->
            <!--</select>-->
        </div>
        <span class="hear_w">设备类型：</span>
        <div class="form-group col-sm-2 form_input">
            <select class="form-control"  id="se_fora">
                <option></option>
            </select>
        </div>
        <a class="btn btn-primary btn_m gl_bt r_top_fon" id="proje_search"><img src="${request.contextPath}/statics/image/r_ssousuo.png" alt="">搜索</a>
        <a class="btn btn-primary btn_m r_top_fon" id="add_equipments"><img src="${request.contextPath}/statics/image/tianjia.png" alt="" class="rcxc">添加设备</a>
<!--        <a class="btn btn-primary btn_m gl_bt" id="refresh"><i class="glyphicon glyphicon-repeat gl_fu"></i>刷新</a>-->
        <a class="btn btn-primary btn_m r_top_fon" id="grouping"><img src="${request.contextPath}/statics/image/fenzu.png" alt="" class="rcxc">分组管理</a>
    </div>


    <div class="table_m table_grouping" id="rrapp">
        <ul>
            <li style="width:4%;"> <input type= "checkbox" class="checkbox_in" name="all" id="checkbox"> </li>
            <li>设备编号</li>
            <li style="width:10%;">设备名称</li>
            <li>所属分组</li>
            <li>设备类型</li>
            <li>光电池状态</li>
            <li>蓄电池状态</li>
            <li>负载状态</li>
            <li>信号状态</li>
            <li>运行状态</li>
            <li>亮度</li>
            <li>通讯类型</li>
            <li style="width:10%;">操作</li>
        </ul>
        <table border="1" id="div">

        </table>
    </div>

    <!-- 移动分组-->
    <div class="move_a">
        <img src="${request.contextPath}/statics/image/zhuyi.png" alt="">
        <div>已选择</div>
        <span id="mo_sp"></span>
        <p  class="r_span" id="deleteAll">
            <img src="${request.contextPath}/statics/image/shanchu-1.png" alt="">
            <i class="deleteAll" >删除</i>
        </p>
        <p  class="r_span" id="mobile_pac">
            <img src="${request.contextPath}/statics/image/yidong.png" alt="">
            <i class="mobile_pac" style=" font-style:normal">移动分组</i>
        </p>
    </div>
    <!--分页-->
    <div class="box">
        <div id="pagination3" class="page fl"></div>
    </div>

<!--新增设备-->
    <div class="shade_project">
        <div class="shade_a shade_add_project"></div>
        <div class="shade_b_project">
            <div class="Bian_j">新增项目<span class="glyphicon glyphicon-remove guan_shc shade_add_project" ></span></div>
            <div class="mistake">
                <span class="glyphicon glyphicon-pencil cu_m"></span>错误提示
                <span class="glyphicon glyphicon-remove wrong"></span>
            </div>
            <span class="sha_span">
                <p class="Jan_r"> <span  style="color: red">*</span>设备编号：</p>
                <input type="text" placeholder="请填写" class="pro_name" style="width:169px;">
            </span>
            <span class="sha_span">
                <p  class="Jan_r"> <span  style="color: red">*</span>设备名称：</p>
                <input type="text" placeholder="请填写" class="pro_s" style="width:169px;">
            </span>
            <span class="sha_span">
                <p class="Jan_r"><span  style="color: red">*</span>设备分组：</p>
                <div class="form-group col-sm-2 " style="width:160px;padding-left:0;padding-right:0;">
                    <select class="form-control" id="select1"  style="width: 169px;height: 40px;">
                        <!--<option>默认分组</option>-->
                    </select>
                </div>
            </span>

            <div class="sha_buttom">
                <div id="project_confirm"  class="rquebei" >确定</div>
                <div  class="shade_add_project rqubtn"  >取消</div>
            </div>
        </div>
    </div>

<!--编辑-->
    <div class="shade_modifier">
        <div class="shade_a shade_modifier_project"></div>
        <div class="shade_b_modifier" style="height: 227px;">
            <div class="Bian_j">编辑项目<span class="glyphicon glyphicon-remove guan_shc shade_modifier_project" ></span></div>
            <div class="mistake">
                <span class="glyphicon glyphicon-pencil cu_m"></span>错误提示
                <span class="glyphicon glyphicon-remove wrong"></span>
            </div>
            <span class="sha_span">
                <p class="Jan_r"> <span  style="color: red">*</span>设备名称：</p>
                <input type="text" placeholder="请填写" class="pro_s_b" style="width:169px;">
            </span>
            <span class="sha_span">
                <p class="Jan_r"><span  style="color: red">*</span>设备分组：</p>
                <div class="form-group col-sm-2 " style="width:169px;padding-left:0;padding-right:0;margin: 0;">
                    <select class="form-control"  id="select1_b" style="height: 40px;">
                    </select>
                </div>
            </span>

            <div class="sha_buttom">
                <div id="confirm_x"  class="rquebei" >确定</div>
                <div  class="shade_modifier_project rqubtn"  >取消</div>
            </div>
        </div>
    </div>
<!--移动设备-->
    <div class="shade_Yi">
        <div class="shade_a shade_modifier_yi"></div>
        <div class="shade_b_yi">
            <div class="Bian_j">移动分组<span class="glyphicon glyphicon-remove guan_shc shade_modifier_yi" ></span></div>
            <div class="Bian_sou">
                <input type="type" placeholder="请输入" class="sousuo_input">
                <img src="${request.contextPath}/statics/image/sousuo.svg" class="sousuo_i">
            </div>
            <div class="Dan_x" id="Dan_x">

            </div>
            <div class="sha_buttom">
                <div id="que_yi"  class="rquebei" >确定</div>
                <div  class="shade_modifier_yi rqubtn"  >取消</div>
            </div>

        </div>
    </div>
    <!--删除-->
    <div class="shade_delete">
        <div class="shade_a_delete" ></div>
        <div class="shade_b_delete">
            <div class="Bian_j_delete">温馨提示<span class="glyphicon glyphicon-remove guan_sha" ></span></div>
            <span class="delete_sp">是否删除设备?</span>
            <div class="sha_buttom_delete">
                <div class="rquebei sha_que_delete" style="margin-left:20%;">确定</div>
                <div   class="sha_cancel_new rqubtn " >取消</div>
            </div>
        </div>
    </div>
    <script>
        document.write('<script src="${request.contextPath}/statics/js/modules/grouping/grouping.js?v='+Math.random()+'"><\/script>');
    </script>
</body>
</html>