<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.remote.district.dao.DistrictMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.remote.district.entity.DistrictEntity" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="districtName" column="district_name"/>
        <result property="type" column="type"/>
        <result property="hierarchy" column="hierarchy"/>
        <result property="districtSqe" column="district_sqe"/>
    </resultMap>

    <sql id="Base_Column_List" >
      id,pid,district_name,type,hierarchy,district_sqe
    </sql>

    <select id="queryDistrictByType" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        fun_district where type=#{type}
    </select>


    <select id="queryDistrictById" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        fun_district where id = #{id}
    </select>
</mapper>